<div id="colorInfo">
	<span id="colorLoadingError"></span>
	<table id="colorContent" cellpadding="0" cellspacing="0" border="0" style="width:100%">
		<!-- Canvas Hue Pie-->
		<tr id="dyeHeader"><td class="imageinfo_maingrouprow imageinfo_maingrouprow_no_border">%DyeDistribution%</td></tr>
		<tr id="dyeData">
			<td>
				<div  class="colorInfoHistogram" id="colorDonutParent"></div>
				<div  class="colorInfoHistogram" id="colorHUEChart"></div>
			</td>
		</tr>
		
		<!-- Histograms -->
		<tr id="histoHeader"><td class="imageinfo_maingrouprow imageinfo_maingrouprow_no_border">%Histograms%</td></tr>
		<tr id="histoData">
			<td>
				<br/>
				
				
				<div class="colorInfoHistogram ">
					<table cellpadding="0" cellspacing="0" border="0">
						<tr><td class="histoHeader noBorder">RGB</td></tr>
						<tr><td id="histoRGBContainer" class="histoGraph"></td></tr>
						<tr><td id="histoImageRGBContainer" class="histoImg"></td></tr>
					</table>
				</div>

				<div class="colorInfoHistogram">
					<table cellpadding="0" cellspacing="0" border="0">
						<tr><td class="histoHeader noBorder">%dyeStat0%</td></tr>
						<tr><td id="histoRedContainer" class="histoGraph"></td></tr>
						<tr><td id="histoImageRedContainer" class="histoImg"></td></tr>
					</table>
				</div>

				<div class="colorInfoHistogram">
					<table cellpadding="0" cellspacing="0" border="0">
						<tr><td class="histoHeader noBorder">%dyeStat120%</td></tr>
						<tr><td id="histoGreenContainer" class="histoGraph"></td></tr>
						<tr><td id="histoImageGreenContainer" class="histoImg"></td></tr>
					</table>
				</div>

				<div class="colorInfoHistogram">
					<table cellpadding="0" cellspacing="0" border="0">
						<tr><td class="histoHeader noBorder" >%dyeStat210%</td></tr>
						<tr><td id="histoBlueContainer" class="histoGraph"></td></tr>
						<tr><td id="histoImageBlueContainer" class="histoImg"></td></tr>
					</table>
				</div>

				<div class="colorInfoHistogram">
					<table cellpadding="0" cellspacing="0" border="0">
						<tr><td class="histoHeader noBorder">%Brightness%</td></tr>
						<tr><td id="histoBrightnessContainer" class="histoGraph"></td></tr>
						<tr><td id="histoImageBrightnessContainer" class="histoImg"></td></tr>
					</table>
				</div>

				<div class="colorInfoHistogram">
					<table cellpadding="0" cellspacing="0" border="0">
						<tr><td class="histoHeader noBorder">%Saturation%</td></tr>
						<tr><td id="histoSaturationContainer" class="histoGraph"></td></tr>
						<tr><td id="histoImageSaturationContainer" class="histoImg"></td></tr>
					</table>
				</div>

			</td>
		</tr>
		
		<!-- ICC Profile -->
		<tr id="iccHeader"><td class="imageinfo_maingrouprow imageinfo_maingrouprow_no_border">%ICCProfile%</td></tr>
		<tr id="iccData">
			<td>
				<br/>
				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td class="histoHeader">%MediaPoints%</td>
						<td class="histoHeader" style="width:300px">%ProfileData%</td>
					</tr>
					<tr>
						<td id="iccCIEContainer" style="vertical-align:top">
							<div style="position:relative;height:325px;">
								<img src="images/CIExy.png" style="background-color: #eee" width="289" height="325" alt=""/>
								<img src="images/CIEwhite.png" id="iccWhitePoint" style="position:absolute;left:0;top:0;" alt=""/>
								<img src="images/CIEblack.png" id="iccBlackPoint" style="position:absolute;left:0;top:0;" alt=""/>
								<img src="images/CIEred.png" id="iccRedColorant" style="position:absolute;left:0;top:0;" alt=""/>
								<img src="images/CIEgreen.png" id="iccGreenColorant" style="position:absolute;left:0;top:0;" alt=""/>
								<img src="images/CIEblue.png" id="iccBlueColorant" style="position:absolute;left:0;top:0;" alt=""/>
							</div>
						</td>
						<td id="iccProfileData" style="vertical-align:top;"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<br/><br/>
</div>
