<div>

	<ul id="contextmenu_foldertree" class="contextMenu">
		<li data-cmd="createfav"><a>%CreateFavorite%</a></li>
		<li data-cmd="refreshall" class="separator"><a>%RefreshAll%</a></li>
		<li data-cmd="refreshfolder"><a>%RefreshFolder%</a></li>
		<li data-cmd="collapseall"><a>%CollapseAllFolders%</a></li>
    <li data-cmd="connectorProperties" data-icon="viewimageinfo" class="separator"><a>%connectorProperties%</a></li>
		<li data-cmd="rename" class="separator"><a>%Rename%</a></li>
		<li data-cmd="delete"><a>%DeleteEmpty%</a></li>
		<li data-cmd="createfolder" data-icon="createDir"><a>%CreateFolder%</a></li>
	</ul>

	<ul id="contextmenu_thumbview" class="contextMenu">
		<li data-cmd="selectall"><a>%SelectAll%</a></li>
		<li data-cmd="selectnone"><a>%SelectNone%</a></li>
		<li data-cmd="openItemInNewWindow" class="separator"><a>%openItemInNewWindow%</a></li>
		<li data-cmd="canceljob" class="separator"><a>%CancelDownloadJob%</a></li>
		<li data-cmd="restartjob"><a>%RestartDownloadJob%</a></li>
		<li data-cmd="copy"><a>%CopySelectedElements%</a></li>
		<li data-cmd="cut"><a>%CutSelectedElements%</a></li>
		<li data-cmd="paste"><a>%PasteElements%</a></li>
		<li data-cmd="rename"><a>%Rename%</a></li>
		<li data-cmd="delete"><a>%DeleteEmpty%</a></li>
		<li data-cmd="reimportselected" class="separator"><a>%ReImportSelected%</a></li>
		<li data-cmd="addbatch"><a>%AddToBatch%</a></li>
		<li data-cmd="adddownload"><a>%AddToDownload%</a></li>
		<li data-cmd="downloadselected"><a>%DownloadSelected%</a></li>
		<li data-cmd="createfav" class="separator"><a>%CreateFavorite%</a></li>
    <li data-cmd="selectColumns"><a>%SelectColumns%</a></li>
    <li data-cmd="selectContentCountOption"><a>%selectContentCountOption%</a></li>
    <li data-cmd="connectorProperties" data-icon="viewimageinfo"><a>%connectorProperties%</a></li>
		<li data-cmd="refreshfolder"><a>%RefreshFolder%</a></li>
		<li data-cmd="createDir"><a>%CreateFolder%</a></li>
		<li data-cmd="openParentFolder"><a>%openParentFolder%</a></li>
		<li data-cmd="viewimageinfo"><a>%ViewImageInfo%</a></li>
	</ul>

	<ul id="contextmenu_logout" class="contextMenu">
		<li data-cmd="unDockPictureView"><a>%UnDockPictureView%</a></li>
		<li data-cmd="dockPictureView"><a>%ReDockPictureView%</a></li>
		<li data-cmd="resetViewProperties"><a>%ResetViewProperties%</a></li>
		<li data-cmd="changelanguage"><a>%ChangeLanguage%</a></li>
		<li data-cmd="changepassword"><a>%ChangePassword%</a></li>
    <li data-cmd="usersAndGroups" data-icon="changeuser"><a>%UsersAndGroups%</a></li>
		<li data-cmd="changeuser"><a>%ChangeUser%</a></li>
		<li data-cmd="logout"><a>%Logout%</a></li>
	</ul>

	<ul id="contextmenu_metadata" class="contextMenu">
		<li data-cmd="all"><a>%SelectAllFields%</a></li>
		<li data-cmd="none"><a>%SelectNoFields%</a></li>
		<li data-cmd="clear" class="separator"><a>%ClearMetaValues%</a></li>
		<li data-cmd="revert"><a>%ReimportMeta%</a></li>
		<li data-cmd="delete"><a>%DeleteFields%</a></li>
		<li data-cmd="copy" class="separator"><a>%CopyFields%</a></li>
		<li data-cmd="paste"><a>%PasteFields%</a></li>
		<li data-cmd="apply" class="separator"><a>%AddSelectedFields%</a></li>
		<li data-cmd="addfield" class="separator"><a>%AddMetaDataField%</a></li>
	</ul>

  <ul id="contextmenu_pb_code" class="contextMenu">
    <li data-cmd="getCode"><a>%CopyToClipboard%</a></li>
    <li data-cmd="getCodeCompact"><a>%CopyToClipboardCompact%</a></li>
    <li data-cmd="getCodeDoc"><a>%CopyToClipboardDocument%</a></li>
    <li data-icon="none" data-cmd="openServerPreviewWindow"><a>%OpenPreviewWindow%</a></li>
    <li data-cmd="undo" class="separator"><a>%Undo%</a></li>
    <li data-cmd="redo"><a>%Redo%</a></li>
    <li id="pbCMKeepChanges" class="cmUnChecked" data-icon="checked" data-cmd="keepChanges"><a>%keepChanges%</a></li>
    <li data-cmd="hyperlinkEditor" data-icon="editLinks" class="separator"><a>%EditHyperLinks%</a></li>
    <li data-cmd="hotspotEditor" data-icon="editHotSpots"><a>%EditHotSpots%</a></li>
    <li data-cmd="crop" class="separator"><a>%Crop%</a></li>
    <li data-cmd="setInitialView" class="separator"><a>%setInitialView%</a></li>
    <li data-cmd="getColor"><a>%Color%</a></li>
    <li data-cmd="getFilePath"><a>%BrowsePath%</a></li>
    <li data-cmd="effects"><a>%Effects%</a></li>
  </ul>


</div>
