<table cellpadding="0" cellspacing="0" border="0" class="contentmenu" style="height:50px">
	<tr>
		<td valign="middle">
			<table style="width:100%;height:100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td valign="middle" style="width:50%;height:24px;">
						<table cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td valign="top">
                  <button id="btnCMCreateFolder" data-icon="createfolder" data-press="interfaceControl.askCreateDirectory(this);" title="%CreateDir%"></button>
								</td>
								<td valign="top">
									<button id="btnCMRename" data-icon="rename"
                          data-press="interfaceControl.getThumbView().renameSelectedThumb(this);" title="%RenameSelected%"></button>
								</td>
								<td valign="top">
									<button  id="btnCMCopy"
											 data-icon="copy" data-press="interfaceControl.getThumbView().copySelectionToClipboard(this);"
                           title="%CopySelected%"></button>
								</td>
								<td valign="top">
									<button  id="btnCMCut"
											 data-icon="cut" data-press="interfaceControl.getThumbView().cutSelectionToClipboard(this);"
                           title="%CutSelected%"></button>
								</td>
								<td valign="top">
									<button  id="btnCMPaste" data-icon="paste"
                           data-press="interfaceControl.getThumbView().pasteFromClipboard(this);" title="%PasteItems%"></button>
								</td>
								<td class="separator">
								</td>
								<td valign="top">
									<button id="btnCMDelete" data-icon="delete"
                          data-press="interfaceControl.askDeleteSelected(this);" title="%DeleteSelected%"></button>
								</td>
							</tr>
						</table>
					</td>

					<td align="right" style="width:50%;">
						<table  id="viewModeTable" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td id="tdThumbResize2">
									<table cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td valign="top">
												<button data-icon="minus" data-press="interfaceControl.increaseThumbSize(-18);"
                                title="%DecreaseThumbSize%" style="margin-right: 0;"></button>
											</td>
											<td valign="top">
												<div id="thumbresizerbase" style="position:relative;">
                          <div id="thumbresizer" class="thumbResizer"></div>
                          <div id="thumbresizerslider"></div>
												</div>
											</td>
											<td valign="top">
												<button data-icon="plus" data-press="interfaceControl.increaseThumbSize(18);"
                                title="%IncreaseThumbSize%"></button>
											</td>
										</tr>
									</table>
								</td>

								<td class="separator" id="tdThumbResize1"></td>

								<td>
									<table cellpadding="0" cellspacing="0" border="0" align="right">
										<tr>
											<td>
												<table id="sortSelectTable" cellpadding="0" cellspacing="0" border="0" align="center">
													<tr>
														<td>
															<button data-icon="scroll_up" data-icon-down="scroll_down" id="btnSortOrderToggle"
                                      data-btn-type="checkbox" title="%ChangeSortOrder%" data-press="interfaceControl.onSortOrderChanged()" data-no-selected-class="1"></button>
														</td>
														<td>
															<div id="sortingSelectorDiv">
																<select title="%Sort%" class="sortingView" id="sortingSelector" onChange="interfaceControl.onSortingChanged(this)">
																	<option value="FILENAME">%Name%</option>
																	<option value="FILESIZE">%Size%</option>
																	<option value="LASTMODIFIED">%ModifyDate%</option>
																	<option value="WIDTH">%width%</option>
																	<option value="HEIGHT">%height%</option>
																	<option value="RESOLUTION">%Resolution%</option>
																	<option value="IMPORTSTATUS">%status%</option>
																</select>
															</div>
														</td>

														<td class="separator" id="tdThumbResize3">
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
								<td>
									<button data-icon="viewtype_catalog" data-btn-type="radio" id="catalogView" name="view" value="catalog"
                          data-press="interfaceControl.controlView('catalog');" title="%FilterList%"></button>
								</td>
								<td>
									<button data-icon="viewtype_thumbs"  data-btn-type="radio" id="thumbView" name="view" value="thumb"
                          data-press="interfaceControl.controlView('thumb');" title="%FilterThumbs%"></button>
								</td>
								<td>
									<button data-icon="viewtype_list" data-btn-type="radio" id="listView" name="view" value="list"
                          data-press="interfaceControl.controlView('list');" title="%FilterTable%"></button>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td>
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td style="height:24px">
						<table id="locationBarTable" cellpadding="0" cellspacing="0" border="0" style="width:100%;">
							<tr>
								<td width="21">
									<button data-icon="scroll_left" id="btnHistoryPrevious" data-press="window.history.back()"
                          title="%PreviousLocation%"></button>
								</td>
								<td width="21">
									<button data-icon="scroll_right" id="btnHistoryNext" data-press="window.history.forward()"
                          title="%NextLocation%"></button>
								</td>
								<td width="21">
									<button data-icon="folder_up" id="btnFolderUp" data-press="interfaceControl.getFolderTree().browseFolderUp()"
                          title="%ParentFolder%"></button>
								</td>
								<td align="center" class="inputLocationBarHolder">
									<input data-nela-selectable="1" type="text" id="inputlocationbar" spellcheck="false" autocomplete="false"/>
									<div class="inputlocationbarContainerDiv">
									<div id="inputlocationbardiv" class="inputlocationbar"><div id="inputlocationbarloading">loading...</div></div>
									</div>
									
								</td>
								<td width="21">
									<button data-icon="scroll_right" id="btnHistoryEnter"
                          data-press="interfaceControl.getLocationBar().browseToInput()" title="%GotoLocation%"></button>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
    <td class="maincntBottomTD"></td>
	</tr>
</table>
