<div>
	<div id="dlg_alert" title="%dlgAlertTitle%">
		<div id="DLGAlertMessage"></div>
	</div>

	<div id="dlg_yesnocancel" title="%dlgAlertTitle%">
    <div id="DLGYesNoCancelMessage"></div>
	</div>

	<div id="dlg_delete" title="%dlgDeleteTitle%">
		<div id="dlgdeletebody1">
			<p>%dlgDeleteBody%</p>
		</div>
		<div id="dlgdeletebody1Trash">
			<p>%dlgDeleteBodyFinal%</p>
		</div>

		<div id="dlgdeletebody2">
			<p><span></span>%dlgDeleteBody2%</p><br/>
			<div class="deleteProgressOuter"><div id="innerDeleteProgress" class="deleteProgressInner"></div></div>
			<div id="DLGDeleteError" class="DialogErrorText"></div>
		</div>
	</div>

	<div id="dlg_move" title="%dlgMoveTitle%">
		<div id="dlgmovebody1">
			<p><span id="dlgmovebodytext"></span></p>
		</div>

		<div id="dlgmovebody2">
			<p><span></span><span id="dlgMoveBody2Span"></span></p><br/>
			<div class="deleteProgressOuter"><div id="innerMoveProgress" class="deleteProgressInner"></div></div>
			<div id="DLGMoveError" class="DialogErrorText"></div>
		</div>
	</div>

	<div id="dlg_createfolder" title="%dlgCreatefolderTitle%">
		<p>%dlgCreatefolderBody%<br/><br/>
     <div id="dlgCreatefolderPath"></div><input type="text" class="fsidialoginput" style="width:100%"  spellcheck="false"/></p>
		<div class="DialogWaitText"></div>
		<div class="DialogErrorText"></div>
	</div>

	<div id="dlg_rename" title="%dlgRenameTitle%">
    <div id="dlgRenameConnectoreText">%dlgRenameBodyConnector%</div><p>%dlgRenameBody%<br/><br/><input type="text" class="fsidialoginput" style="width:100%" spellcheck="false"/></p>
		<div class="DialogWaitText"></div>
		<div class="DialogErrorText"></div>
	</div>

	<div id="dlg_canceloperation" title="%dlgCancelOperationTitle%">
		<p id="innerCancelDialogBody">%dlgCancelOperationBody%</p>
		<div class="deleteProgressOuter"><div id="innercanceloperationProgress" class="deleteProgressInner"></div></div>
	</div>


	<div id="dlg_reimport" title="%dlgReimportImagesTitle%">
		<div id="dlgreimportbody1">
			<p>%dlgReimportImagesBody%</p>
			<table>
				<tr><td><input type="checkbox" name="image" value="image" checked="checked"/></td><td valign="top">%dlgReimportOptionImage%</td></tr>
				<tr><td><input type="checkbox" name="metadata" value="metadata" checked="checked"/></td><td valign="top">%dlgReimportOptionMetaData%</td></tr>
			</table>
		</div>

		<div id="dlgreimportbody2">
			<p><span></span>%dlgReimportImagesBody2%</p><br/>
			<div class="deleteProgressOuter"><div id="innerReimportProgress" class="deleteProgressInner"></div></div>
			<div id="DLGReimportError" class="DialogErrorText"></div>
		</div>
	</div>

	<div id="dlg_uploaderror" title="%uploaderrortitle%">
		<div id="dlguploaderrorbody">
			<p><span id="uploadErrorContentSpan"></span></p>
		</div>
	</div>

	<div id="dlg_selectcolumns" title="%dlgSelectColumnsTitle%">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr><td><input type="checkbox" style="border:0 none" /></td><td></td></tr>
			</table>
	</div>


	<div id="dlg_addMetaDataField" title="%dlgAddMetaDataFieldTitle%">
		<div class="addMetaDataFieldDiv">
			<table id="addMetaDataFieldTable" width="100%" cellpadding="0" cellspacing="0" border="0">
				<tbody>
				</tbody>
			</table>
		</div>
	</div>

		<div id="dlg_restore" title="%dlgRestoreTitle%">
		<div id="dlgrestorebody1">
			<p>%dlgRestoreBody%</p>
		</div>

		<div id="dlgrestorebody2">
			<p><span></span>%dlgRestoreBody2%</p><br/>
			<div class="deleteProgressOuter"><div id="innerRestoreProgress" class="deleteProgressInner"></div></div>
			<div id="DLGRestoreError" class="DialogErrorText"></div>
		</div>
	</div>

	<div id="dlg_metacmd" title="%dlgMetaCMDTitle%">
		<div id="dlgmetacmdbody">
			<p><span></span>%dlgMetaCMDBody%</p><br/>
			<div class="deleteProgressOuter"><div id="innerMetaCMDProgress" class="deleteProgressInner"></div></div>
			<div id="DLGMetaCMDError" class="DialogErrorText"></div>
		</div>
	</div>


	<div id="dlg_downloadconflict" title="%dlgDownloadConflictTitle%">
		<div>
			<p><span></span><span id="dlg_downloadconflicttext"></span></p><br/>
		</div>
	</div>


	<div id="dlg_jobquecmd" title="%dlgCancelOperationTitle%">
		<div id="dlgjobqueuecmdbody">
			<p><span></span><span id="dlgjobqueuecmdtext"></span></p><br/>
			<div class="deleteProgressOuter"><div id="innerJobQueueCMDProgress" class="deleteProgressInner"></div></div>
			<div id="DLGJobQueueCMDError" class="DialogErrorText"></div>
		</div>
	</div>


	<div id="dlg_downloadOptions" title="%dlgDownloadOptionsTitle%">
		<div id="dlgdownloadoptionsbody" style="width:100%;height:100%">

      <div id="batchOptionsContainer">


        <div>
          %ArchiveType%<br/>
          <select style="min-width: 120px;" id="dlopt_archivetype"><option selected="selected" value="zip">ZIP</option><option value="tar.gz">tar.gz</option><option value="tar.bz2">tar.bz2</option></select>
        </div>


        <table cellpadding="0" cellspacing="0" border="0" style="display:none">
          <tr>
            <td>
              <input checked="checked" type="radio" name="dlopt_generaltype" id="cbDownloadOriginal" value="source"/>
            </td>
            <td>
              %DownloadUnmodified%
            </td>
          </tr>
          <tr>
            <td>
              <input type="radio" name="dlopt_generaltype" id="cbDownloadRenderedImage" value="images"/>
            </td>
            <td>
              %DownloadProcessed%
            </td>
           </tr>
        </table>

        <div>
          %fileExtensions%<br/>
          <select id="dlopt_fileExtensions" disabled="disabled"><option selected="selected" value="0">%replaceFileExtensions%</option><option value="1">%appendFileExtensions%</option></select>
        </div>


        <div style="flex:1 1 auto;max-width:600px;">
          %ConfigurationName%<br/>

          <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td style="width:100%">
                <input type="text" style="width:100%" name="dlopt_savename" id="inputDownloadPresetSaveName"/>
              </td>
              <td>
                <input type="button" id="btnDeleteDownloadOptions" value="%Delete%"/>
              </td>
              <td>
                <input type="button" id="btnSaveDownloadOptions" value="%Save%" disabled="disabled"/>
              </td>
            </tr>
          </table>

        </div>


        <div style="display:none">
          <textarea id="inputRenderingQuery" disabled="disabled" style="width:100%" rows="2" autocomplete="on" spellcheck="false" autocapitalize="off" ></textarea>
        </div>

      </div>


		</div>
	</div>


	<div id="dlg_browse">
		<table cellpadding="0" cellspacing="0" border="0" style="width:100%;height:100%;max-height:100%">
				<tr>
					<td id="dlgbrowselisttd">
						<div id="dlgbrowsetree" class="filebrowser"></div>
					</td>
				</tr>
				<tr style="height:30px" id="dlgBrowseButtons">
					<td style="height:30px" align="right">
						<table cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td id="dlgBrowseButtonRename"><input type="button" value="%dlgRenameTitle%" onClick="interfaceControlLocal.getDialogs().BrowseDialogCMD('rename')"/></td>
								<td id="dlgBrowseButtonDelete"><input type="button" value="%FileDelete%" onClick="interfaceControlLocal.getDialogs().BrowseDialogCMD('delete')"/></td>
								<td id="dlgBrowseButtonCreateFolder"><input type="button" value="%dlgCreatefolderTitle%" onClick="interfaceControlLocal.getDialogs().BrowseDialogCMD('createFolder')"/></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr style="height:30px" id="dlgBrowseFilenameRow">
					<td style="height:30px" >
						<input type="text" id="dlgBrowseInputFilename" style="width:100%"/>
					</td>
				</tr>
		</table>
	</div>

	<div id="dlg_changepassword" title="%dlgChangePasswordTitle%">
		<table width="100%" cellpadding="0" cellspacing="4" border="0">
			<tr><td>%dlgChangePasswordBody1%</td></tr>
			<tr><td><input type="password" style="width:100%;" /></td></tr>
			<tr><td>%dlgChangePasswordBody2%</td></tr>
			<tr><td><input type="password" style="width:100%;" /></td></tr>
			<tr><td>%dlgChangePasswordBody3%</td></tr>
			<tr><td><input type="password" style="width:100%;" /></td></tr>
		</table>
	</div>

	<div id="dlg_changeuser" title="%dlgChangeUserTitle%">
		<table width="100%" cellpadding="0" cellspacing="4" border="0">
			<tr><td>%dlgChangeUserBody%</td></tr>
			<tr><td><select class="darkscoll" id="switchuserselect" size="15"
							style="height:auto;width:100%"></select></td></tr>
		</table>
	</div>

	<div id="dlg_changelanguage" title="%dlgChangeLanguageTitle%">
		<table width="100%" cellpadding="0" cellspacing="4" border="0">
			<tr><td>%dlgChangeLanguageBody%</td></tr>
			<tr><td><select class="darkscoll" id="switchlanguageselect" size="15"
							style="height:auto;width:100%"></select></td></tr>
		</table>
	</div>

	<div id="dlg_entertext">
		<table width="100%" cellpadding="0" cellspacing="4" border="0">
			<tr><td>%PleasePastePID%</td></tr>
			<tr><td><textarea style="width:100%" wrap="off" spellcheck="false" rows="20" data-nela-selectable="1" class="enableCM selectableItem code"></textarea></td></tr>
		</table>
	</div>


	<div id="dlg_enterpid">
		<table width="100%" cellpadding="0" cellspacing="4" border="0">
			<tr><td>
				Please enter the PID and click "OK" to request the licence key from the online licence system.<br/><br/>
				Example: XXXX-XXXX-XXXX-XXXX


				<input type="text" style="width:100%;font-family:'Courier New', Courier, monospace;font-size:16px;text-transform: uppercase" spellcheck="false" autocomplete="false" data-nela-selectable="1" class="enableCM selectableItem"/><br/>
				(hyphens will be added automatically while you type)
				<div id="pidInputError">The format of the PID you entered is invalid.<br/>Please verify.</div>
				</td></tr>
		</table>
	</div>


	<div id="dlg_UAM_login" title="Your NeptuneLabs User Account" style="padding:0;height:700px;background-color:white;overflow:hidden"><iframe frameborder="0" style="width:100%;height:100%;margin:0;padding:0;border:0 none;" id="uam_login_frame" name="uam_login_frame"></iframe></div>


	<div id="dlg_connectorInfo">
		<table width="100%" cellpadding="0" cellspacing="4" border="0">
			<tr><td id="dlgConnectorInfoContentTD">
				<div id="dlgConnectorInfoContentDiv">
					<table width="100%" cellpadding="0" cellspacing="0" border="0" id="dlgConnectorInfoContentTable" class="imageinfo_table">
						 <tr>
						    <th style="width:163px;height:1px;" ></th>
						    <th style="width:300px;" ></th>
						  </tr>
						<tr>
							<td class="imageinfo_titleTD"></td>
							<td class="imageinfo_valueTD"></td>
						</tr>
						<tr>
							<td colspan="2" class="imageinfo_maingrouprow"></td>
						</tr>
					</table>

					<table width="100%" cellpadding="0" cellspacing="0" border="0" id="dlgConnectorInfoContentTable2" style="margin-top:0" class="imageinfo_table">
						<tr>
						    <td colspan="3" class="imageinfo_maingrouprow" style="margin-top:50px;border:0 none;padding-top:10px">%ConnectorPermissions%</td>
						</tr>
						<tr>
							<td class="imageinfo_titleTD"></td>
							<td class="imageinfo_valueTD"></td>
							<td class="imageinfo_valueTD"></td>
						</tr>
						<tr>
							<td class="imageinfo_maingrouprow"
								style="padding: 0 0 0 6px;font-size:16px;font-weight:bold;"></td>
							<td class="imageinfo_maingrouprow" style="padding: 0 0 0 6px;font-size:14px;">You</td>
							<td class="imageinfo_maingrouprow" style="padding: 0 0 0 6px;;font-size:14px;">
								Public</td>
						</tr>
					</table>
					<table width="100%" cellpadding="0" cellspacing="0" border="0" id="dlgConnectorPropertiesContentTable" class="imageinfo_table">
						 <tr>
						    <th style="width:163px;height:1px;background:#666;" ></th>
						    <th style="width:300px;background:#666;" ></th>
						  </tr>
						<tr>
							<td class="imageinfo_titleTD"></td>
							<td class="imageinfo_valueTD"></td>
						</tr>
						<tr>
							<td colspan="2" class="imageinfo_maingrouprow"></td>
						</tr>
					</table>
				</div>
			</td></tr>
		</table>
	</div>

  <div id="dlg_publish_color" title="%InsertColorValue%" style="padding:0;height:700px;overflow:hidden;">
    <div id="pbColorPicker"></div>
  </div>

  <div id="dlg_publish_crop" title="%CropImage%" style="padding:0;height:700px;overflow:hidden;">
    <table style="width:100%;height:100%;" align="center">
      <tr>
        <td align="center" id="cropboximagetd" height="100%">
          <img src="" id="cropboximage" alt=""/>
        </td>
      </tr>
      <tr>
        <td valign="top" align="center" class="pbCropInputTd">
          <table cellpadding="0" cellspacing="0" class="grpcontent">
            <tr>
              <td style="padding-left:5px;padding-right:15px;" class="pbCropValuesInputs">
                Left:<input type="text" id="pbCropX" value="0" onChange="interfaceControlLocal.getDialogs().setCrop();" />
                Top:<input type="text" id="pbCropY"  value="0" onChange="interfaceControlLocal.getDialogs().setCrop();" />
                Right:<input type="text" id="pbCropX2"  value="0" onChange="interfaceControlLocal.getDialogs().setCrop();" />
                Bottom:<input type="text" id="pbCropY2" value="0" onChange="interfaceControlLocal.getDialogs().setCrop();" />
              </td>
              <td align="right">
                <select class="text" id="pbCropLockAR" style="width:200px;"
                        onChange="interfaceControlLocal.getDialogs().setCropRatio();">
                  <option value="none">%NoAspectRatio%</option>
                  <option value="image">%ImageSizeAspectRatio%</option>
                  <option value="publish">%RectangularAspectRatio%</option>
                </select>
                <input type="button" value="%CropSelectAll%" onclick="interfaceControlLocal.getDialogs().resetCrop();" style="vertical-align:top"/>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>


  <div id="dlg_image_effects" class="pbEffectsLoading" title="%DlgImageEffectsTitle%">

    <div class="pbEffectsOuterColumn pbEffectsOuterColumn1">
      <div id="pbEffectsPreviewImage"></div>
      <div class="pbLabel" style="border-top:1px solid #111;">%EffectsAdded%
      <button data-icon="none" id="btnClearAllEffects" disabled="disabled">%clearAll%</button></div>
      <div id="pbEffectsListAdded" class="pbEffectsContainer"></div>
    </div>
    <div class="pbEffectsOuterColumn pbEffectsOuterColumn2">
      <div class="pbLabel">%EffectsAvailable%</div>
      <div id="pbEffectsListSource" class="pbEffectsContainer"></div>
    </div>

  </div>


  <div id="dlg_content_count_options" title="%DlgContentCountOptionsTile%">
    %DlgContentCountOptionsBody%
    <br/><br/>
    <input type="radio" id="ContentCountOption_none" name="ContentCountOption" value="none">
    <label for="ContentCountOption_none"> %DlgContentCountOptionNone%</label>
    <br/>
    <input type="radio" id="ContentCountOption_items" name="ContentCountOption" value="items">
    <label for="ContentCountOption_items"> %DlgContentCountOptionItems%</label>
    <br/>
    <input type="radio" id="ContentCountOption_images" name="ContentCountOption" value="images">
    <label for="ContentCountOption_images"> %DlgContentCountOptionImages%</label>
    <br/>
    <input type="radio" id="ContentCountOption_directories" name="ContentCountOption" value="directories">
    <label for="ContentCountOption_directories"> %DlgContentCountOptionDirectories%</label>
    <br/>
    <input type="radio" id="ContentCountOption_imagesAndDirectories" name="ContentCountOption" value="imagesAndDirectories">
    <label for="ContentCountOption_imagesAndDirectories"> %DlgContentCountOptionImagesAndDirectories%</label>

  </div>

  <div id="dlg_createConnector" title="%dlgCreateConnectorTitle%">
    <p>%dlgCreateConnectorBody%</p><br/>

    <table class="valuePairTable" style="width:100%;" cellpadding="0" cellspacing="0">
    <tr>
      <td>%dlgConnectorType%</td>
      <td>
        <select id="newConnectorTypeSelect" class="input_connector_type">
          <option value="STORAGE">STORAGE (new images will be imported, fast delivery)</option>
          <option value="STATIC">STATIC (for static files like documents)</option>
          <option value="MULTIRESOLUTION">MULTI RESOLUTION (new images will not be imported)</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>%dlgConnectorName%</td>
      <td>
        <input type="text" class="fsidialoginput input_connector_name" style="width:100%"  spellcheck="false"/>
      </td>
    </tr>
      <tr>
        <td style="vertical-align:top;">%dlgConnectorComment%</td>
        <td>
          <textarea class="fsidialoginput input_connector_comment" rows="3" style="width:100%"  spellcheck="false"></textarea>
        </td>
      </tr>
  </table>

    <div class="DialogWaitText"></div>
    <div class="DialogErrorText"></div>
    <br/>
    <hr noshade="noshade" size="1" color="#111">
    <h3>%dlgConnectorGroupsAndPermission%</h3>
    <div id="dlg_createConnector_permissions">
      <table id="table_createConnector_permissions">
        <thead>
          <tr>
            <th style="width:60%">%dlgConnectorGroup%</th>
            <th>%dlgConnectorPermission%</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-data="administrators">
              administrators
            </td>
            <td  data-data="administrator">
              administrator
            </td>
            <td style="background-image:none"></td>
          </tr>
          <tr>
            <td>
              <i>%dlgConnectorAddGroup%</i>
            </td>
            <td>
              &nbsp;
            </td>
            <td title="%dlgConnectorRemoveGroupRow%"></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>


  <div id="dlg_groupsAndUsers" title="%dlgGroupsAndUsersTitle%">
    <table class="groupTableBorder" style="width:100%;height:calc(100% - 10px);border-collapse: collapse;" cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr style="height:20px">
       <th width="50%">%dlgGroupsAndUsersGroups%</th>
       <th width="20%">%dlgGroupsAndUsersMembers%</th>
       <th width="20%">%dlgGroupsAndUsersUsers%</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="configColumnScroll" id="configGroupDrop">
              <table class="configGroupsAndUsersGroups" style="width:100%;" cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td>a group</td>
                  <td>a permission</td>
                </tr>
              </table>
            </div>
          </td>
          <td>
            <div class="configColumnScroll" id="configMemberDrop">
              <table class="configGroupsAndUsersMembers" style="width:100%;" cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td>a member</td>
                </tr>
              </table>
            </div>
          </td>
          <td>
            <div class="configColumnScroll" id="configUserDrop">
              <table class="configGroupsAndUsersUsers" style="width:100%;" cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td>a user</td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>



