﻿<table class="supermax">
	<tr>
		<td class="loginTbl">
			<table class="login" align="center">
				<tr>
					<td class="loginFail">
						This content requires a modern browser that fully supports CSS 2.1 or higher.<br />
						<br />
						Thank you for your appreciation.
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
