<div id="textlistcontenttemplate" style="display:none">
	
		<!-- header for root list view-->
	<div id="textListRootHeader" class="textlistheadrow"><div class="textlisticon headResize" style="border-left-width:0!important;">%ConnectorName%</div><div class="headResize">%LastModified%</div><div class="headResize">%ConnectorType%</div></div>

	<!-- content row for root list view-->
	<div id="textListRootRowTemplate" class="textlistcontentrow"><div class="textlisticon">&#160;</div><div>&#160;</div><div>&#160;</div></div>
	
	<!-- header for default list view-->
	<div id="textListDefaultHeader" class="textlistheadrow"><div class="textlisticon headResize" style="border-left-width:0!important;">%FileName%</div><div class="textlistalignright headResize">%width%</div><div class="textlistalignright headResize">%height%</div><div class="textlistalignright headResize">%FileDimension%</div><div class="textlistalignright headResize">%FileSize%</div><div class="headResize">%LastModified%</div><div class="headResize" style="border-right-width:1px!important;">%FileStatus%</div></div>

	<!-- content row for default list view-->
	<div id="textListDefaultRowTemplate" class="textlistcontentrow"><div class="textlisticon" draggable="true">&#160;
	</div><div class="textlistalignright">&#160;</div><div class="textlistalignright">&#160;</div><div class="textlistalignright">&#160;</div><div class="textlistalignright">&#160;</div><div>&#160;</div><div class="textlisticon2">&#160;</div></div>
		
	<!-- header for NoStatus list view-->
	<div id="textListNoStatusHeader" class="textlistheadrow"><div class="textlisticon headResize" style="border-left-width:0!important;">%FileName%</div><div class="textlistalignright headResize">%FileSize%</div><div class="headResize">%LastModified%</div></div>

	<!-- content row for NoStatus list view-->
	<div id="textListNoStatusRowTemplate" class="textlistcontentrow"><div class="textlisticon" draggable="true">&#160;</div><div class="textlistalignright">&#160;</div><div>&#160;</div></div>
	
	<!-- header for trash list view-->
	<div id="textListTrashHeader" class="textlistheadrow"><div class="textlisticon headResize" style="border-left-width:0!important;">%FileName%</div><div class="headResize">%FileDeletePath%</div><div class="headResize">%FileDeleteDate%</div><div class="textlistalignright headResize">%FileSize%</div><div class="headResize">%LastModified%</div></div>


	<!-- header for download list view-->
	<div id="textListDownloadHeader" class="textlistheadrow"><div class="textlisticon headResize" style="border-left-width:0!important;">%FileName%</div><div class="textlistalignright headResize">%FileSize%</div><div class="headResize">%creationDate%</div><div class="headResize">%createdBy%</div><div class="headResize">%scheduleDate%</div><div class="headResize">%startDate%</div><div class="textlistalignright headResize">%creationDuration%</div><div class="textlistalignright headResize">%queuePos%</div><div class="textlistalignright headResize">%progress%</div><div class="headResize" style="border-right-width:1px!important;">%creationStatus%</div></div>

	<!-- content row for download list view-->
	<div id="textListDownloadRowTemplate" class="textlistcontentrow"><div class="textlisticon" draggable="true">&#160;</div><div class="textlistalignright">&#160;</div><div>&#160;</div><div>&#160;</div><div>&#160;</div><div>&#160;</div><div class="textlistalignright">&#160;</div><div class="textlistalignright">&#160;</div><div class="textlistalignright">&#160;</div><div class="textlisticon2">&#160;</div></div>

</div>
