<table class="supermax">
	<tr>
		<td class="loginLogin">
			<div class="loginLogoWrap">
				<div class="loginLogoAnim" id="loginLogoAnim">
          <a href ="https://www.neptunelabs.com/" target="_blank">
            <img id="loginLogo" src="images/loading_logo.svg" width="280" alt=""/>
            <div>NeptuneLabs</div>
          </a>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<td class="loginTbl">
			<div id="capsLockWarn">%CapsLock%</div>
			<iframe src="prg/blank.html" name="passwordSaverTarget" style="display:none"></iframe>

			<div id="loginDiv">
				<form action="#noload" method="post" target="passwordSaverTarget" onsubmit="interfaceControl.getLogin().prepareSumbit();" id="loginForm">


				<table cellpadding="0" cellspacing="0" border="0" id="loginOuter" class="loginOuter" align="center">
					<tr>
						<td class="logintitle">
							%LoginTitle%
						</td>
					</tr>
					<tr>
						<td class="loginInner">
							<table class="loginInner" align="center">
								<tr>
									<td><span id="loginUsernamePlaceholder"></span></td>
								</tr>
								<tr>
									<td><span id="loginPasswordPlaceholder"></span></td>
								</tr>
								<tr>
									<td>
                    <div id="login_language"  class="loginGroupDiv">
										  <select class="login loginInputFilled" id="preferredLanguage" onchange="interfaceControl.changeLanguage();">
										    $LANGUAGEOPTIONLIST$
										  </select>
                      <label id="loginLabelPassWord">%Language%</label>
                    </div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td id="loginBtn" class="loginBtn">

							<button id="loginSubmitButton" type="submit" data-icon="none">
                %Login%<img width="22px" src="images/login.svg" style="vertical-align: middle">
              </button>
						</td>
					</tr>

				</table>
			</form>
		</div>

		</td>
	</tr>
	<tr>
		<td class="loginPhase2ProgressFrame">
			<div id="loginPhase2Progress"></div>
		</td>
	</tr>
</table>
