<table class="supermax" cellpadding="0" cellspacing="0" border="0">
	<tr class="topMainRow">
		<td id="treemenu" colspan="2"></td>
		<td id="pictureviewmenu" class="pictureviewmenu"></td>
	</tr>
	<tr>
		<td id="treecnt" class="treecnttd"></td>
		<td id="sashctlh" class="icSplitter icSplitterV"><img draggable="false" id="sashctlhimg" src="images/splitter_vert.gif" width="9" height="30" border="0" alt=""/></td>
		<td id="maincnt">
			
			<table cellpadding="0" cellspacing="0" border="0" class="supermax" id="thumbCanvasSuperTable">
				  <colgroup>
				     <col width="*" />
				     <col width="16" />
   				</colgroup>
				<tr>
					<td colspan="2">
						<div class="supermax" id="pictureviewContainer" style="height:0;"></div>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="icSplitter icSplitterH atLimit" id="sashctlv"><img draggable="false" id="sashctlvimg" src="images/splitter_horz.gif" width="30" height="9" border="0" alt=""/>
					</td>
				</tr>
				<tr><td id="maincntmenu" colspan="2"></td></tr>
				<tr id="thumbcanvastr">
					<td class="thumbcanvastd" id="thumbcanvastd">
						<div id="thumbCanvas">
							<table id="thumbCanvasNoContentTable"><tr><td id="thumbCanvasNoContentText"></td></tr></table>
							<table class="supermax" id="thumbInnerCanvas">
								<tbody id="thumbbody"><tr><td></td></tr></tbody>
							</table>
						</div>
					</td>
					<td id="scrollctl">
						
						<table style="height:100%" id="scrollerContainerTABLE" cellpadding="0" cellspacing="0" border="0">
							<tr>
                <td id="scrollerButtonTop" style="vertical-align:top" class="scrollerButton"><button data-icon="scroll_up"  data-mousedown="interfaceControl.getScrollControl().onScrollButtonPress(-1)" data-mouseup="interfaceControl.getScrollControl().onScrollButtonRelease()" data-mouseout="interfaceControl.getScrollControl().onScrollButtonMouseOut()" class="btnScroll"></button></td>
							</tr>
							<tr>
								<td id="scrollerContainerTD" style="vertical-align:top">
									<div style="position:absolute"><div class="scroller" id="scroller"><div id="scrollerText" class="scrollerText"><span class="scrollerText">---</span></div></div></div>
								</td>
							</tr>
							<tr>
                <td id="scrollerButtonBottom" style="vertical-align:bottom" class="scrollerButton"><button data-icon="scroll_down" data-mousedown="interfaceControl.getScrollControl().onScrollButtonPress(1)" data-mouseup="interfaceControl.getScrollControl().onScrollButtonRelease()" data-mouseout="interfaceControl.getScrollControl().onScrollButtonMouseOut()" class="btnScroll"></button></td>
							</tr>
						</table>
						
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr class="statusbar">
		<td colspan="3" class="statusbar" align="center">
			<table class="supermax" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td id="statusLeft" class="statusbar_l"><input type="button" id="thumbViewFocusElement" style="width:1px;height:1px;position:absolute;top:-400px;z-index:-100;" value="" /><span id="statusServerVersion"></span>$VENDOR$</td>
					<td id="statusMiddle" class="statusbar_m"></td>
					<td id="statusRight" class="statusbar_r"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>



