<div id="publishEditorContainer" class="publishing" style="width:100%;height:100%;">
  <iframe id="pbCodeRenderFrame"></iframe>


  <div id="pbPreviewMainTD" class="pbFlexRows">
    <div class="pbLabel pbPublishResult">%PublishResult%
      <button style="float:right;margin-top:0;" data-icon="dockPictureView"
              class="noBtnBorder"
              id="publish_preview_new_window"
              ></button>
    </div>
    <!-- <div id="pbDebug"></div> -->
    <div class="pbPreviewRow"><iframe name="iFramePublishPreview" width="100%" height="100%" id="previewFrame" frameborder="0"></iframe></div>
  </div>

  <div id="pbSplitterPreview" class="icSplitter icSplitterV">
    <img draggable="false" src="images/splitter_vert.gif" width="9" height="30" border="0" alt="" ondragstart="return false;"/>
  </div>

  <div id="pbEditorMainTD" class="pbFlexRows">

    <div class="pbLabel" id="pbCurrentvalLabel">%LiveHelp%</div>
    <div id="pbCurrentvalTD" style="height:105px">
      <div id="pbCurrentvalOuter"><div id="pbCurrentval">%LiveHelpHelp%</div></div>
    </div>
    <div class="icSplitter icSplitterH" id="pbSplitterHelp">
      <img draggable="false" src="images/splitter_horz.gif" width="30" height="9" border="0" alt="" ondragstart="return false;" />
    </div>
    <div class="pbLabel" id="pb_code_label">
      <button data-icon="contextmenu" class="pb_context_menu_button noBtnBorder" id="pb_code_contextMenu_code"></button>
      %YourCode%
    </div>
    <div class="pbLabel" id="pb_code_toolbar">
      <span class="pbDimInput">
        <span class="pbSubTitle">%PublishDimension%</span>
        <input type="text" id="pbInputDimWidth" autocomplete="off" spellcheck="false"><button tabindex="-1" id="btnPBDimFreeRatio" data-icon="dimFree" data-press="interfaceControlLocal.onPBToolBar('toggleDimRatioLock');" title="%LockOutputAspectRatio%"></button><button style="display:none" tabindex="-1" id="btnPBDimLockRatio" data-icon="dimLocked" data-press="interfaceControlLocal.onPBToolBar('toggleDimRatioLock');" title="%UnlockOutputAspectRatio%"></button><input type="text" id="pbInputDimHeight" autocomplete="off" spellcheck="false">
      </span>

      <span id="pbImageFormat">
        <span class="pbSubTitle">%ImageFormat%</span>
        <select id="pbImageFormatSelect"></select>
      </span>


      <span id="pbImageQuality">
        <input type="number" step="1" min="0" max="100" id="pbImageQualitySlider" maxlength="3"/>
        <span class="pbSubTitle">%</span>
      </span>


      <span id="pbImageMaxColors">
        <span class="pbSubTitle">%Colors%</span>
        <input type="number" step="1" min="0" max="256" id="pbImageMaxColorsSlider" maxlength="3"/>
        <span class="pbSubTitle"></span>
      </span>

      <span id="pbImageSrcSets">
        <span class="pbSubTitle">srcSets</span>
        <select id="pbSelectSrcSets">
          <option selected="selected" value="1.5,2">1.5 ... 2x</option>
          <option value="1.5,2,2.5,3">1.5x ... 3x</option>
          <option value="1.5,2,2.5,3,3.5,4">1.5x ... 4x</option>
          <option value="1.5,2,2.5,3,3.5,4,4.5,5">1.5x ... 5x</option>
          <option value="1.5,2,2.5,3,3.5,4,4.5,5,5.5,6">1.5x ... 6x</option>
          <option value="1.5,2,2.5,3,3.5,4,4.5,5,5.5,6,6.5,7">1.5x ... 7x</option>
          <option value="1.5,2,2.5,3,3.5,4,4.5,5,5.5,6,6.5,7,7.5,8">1.5x ... 8x</option>
          <option value="1,2">1x ... 2x</option>
          <option value="1,2,3,4">1x ... 4x</option>
          <option value="1,2,3,4,5,6,7,8">1x ... 8x</option>
        </select>
      </span>

      <!-- toolbar -->
      <span id="pbCodeToolButtons" style="margin-left:auto;margin-right: 0;">
      <button id="btnPBCopyCode" data-icon="getCode"
              data-press="interfaceControlLocal.onPBToolBar('getCode');" title="%CopyToClipboard%"></button>
      <button id="btnPBCopyCodeCompact" data-icon="getCodeCompact"
              data-press="interfaceControlLocal.onPBToolBar('getCodeCompact');" title="%CopyToClipboardCompact%"></button>
      <button id="btnPBCopyCodeDoc" data-icon="getCodeDoc"
              data-press="interfaceControlLocal.onPBToolBar('getCodeDoc');" title="%CopyToClipboardDocument%"></button>
      <button id="btnPBColorSelect" data-icon="getColor"
              data-press="interfaceControlLocal.onPBToolBar('getColor');" title="%Color%"></button>
      <button id="btnPBFileSelect" data-icon="getFilePath"
                data-press="interfaceControlLocal.onPBToolBar('getFilePath');" title="%BrowsePath%"></button>
       <button id="btnPBSetInitialView" data-icon="setInitialView"
                data-press="interfaceControlLocal.onPBToolBar('setInitialView');" title="%setInitialView%"></button>
      <button id="btnPBCrop" data-icon="crop"
              data-press="interfaceControlLocal.onPBToolBar('crop');" title="%Crop%"></button>
      <button id="btnPBCropClear" data-icon="cropClear"
              data-press="interfaceControlLocal.onPBToolBar('cropClear');" title="%CropClear%"></button>
      <button id="btnPBEffects" data-icon="effects"
              data-press="interfaceControlLocal.onPBToolBar('effects');" title="%Effects%"></button>
      <button id="btnPBEditHyperlinks" data-icon="editLinks" disabled="disabled"
              data-press="interfaceControlLocal.onPBToolBar('hyperlinkEditor');" title="%EditHyperLinks%"></button>
      <button id="btnPBEditHotSpots" data-icon="editHotSpots" disabled="disabled"
              data-press="interfaceControlLocal.onPBToolBar('hotspotEditor');" title="%EditHotSpots%"></button>
      <button id="btnPBKeepChanges" data-icon="locked" data-btn-type="checkbox"
              data-press="interfaceControlLocal.onPBToolBar('keepChanges');" title="%keepChanges%"></button>
      <button id="btnPBRedoCode" data-icon="redo"
              data-press="interfaceControlLocal.onPBToolBar('redo');" title="%Redo%"></button>
      <button id="btnPBUndoCode" data-icon="undo"
              data-press="interfaceControlLocal.onPBToolBar('undo');" title="%Undo%"></button>
      </span>

    </div>

    <div id="pbEditorTD">
      <div id="pbEditor"></div>
    </div>
    <div class="icSplitter icSplitterH" id="pbSplitterRequiredScripts">
      <img draggable="false" src="images/splitter_horz.gif" width="30" height="9" border="0" alt="" ondragstart="return false;"/>
    </div>
    <div class="pbLabel" id ="pbRequiredScriptsRowLabel">
      %RequiredScripts%
      <button id="btnPBCopyCodeRS" data-icon="getCode" style="float: right;margin-top: 2px;"
              data-press="interfaceControlLocal.onPBToolBar('getCodeRS');" title="%CopyToClipboard%"></button>
      <button id="btnPBHelpRS" data-icon="none" style="float: right;font-size: 12px;padding: 0;line-height: 17px;margin: 0;margin-top: 2px;"
              data-press="interfaceControlLocal.onPBToolBar('showHelpRS');" title="%ShowHelpRequiredScripts%">?</button>
    </div>
    <div id="pbRequiredScriptsRow">
      <div id="pbRequiredScriptsEditor"></div>
    </div>
  </div>

  <div class="icSplitter icSplitterV" id="pbSplitterParameters">
    <img draggable="false" src="images/splitter_vert.gif" width="9" height="30" border="0" alt="" ondragstart="return false;"/>
  </div>

  <div id="pbParameterListContainerTD" class="pbFlexRows">

    <div style="padding-left:0;" id="pbAvailableParametersLabel" class="pbLabel">
      <button class="pbSelected" id="pbRadioTemplates"
              data-icon="none" data-press="interfaceControl.onPBRadio('templates')">
        %AvailableTemplates%</button>
      <button data-press="interfaceControl.onPBRadio('parameters')" id="pbRadioParameters" data-icon="none" disabled="disabled">
        %AvailableParameters%</button>
    </div>
    <div id="pbParameterList"></div>

  </div>



</div>
