<div id="picturetooltipContainer"><div id="picturetooltiparrowup"><img src="images/tooltiparrowup.svg" alt="" width="21" height="11" /></div><div id="picturetooltipContent"></div><div id="picturetooltiparrowdown"><img src="images/tooltiparrowdown.svg" alt="" width="21" height="11" /></div></div>
