<table style="width:100%;height:100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td style="display:none" valign="bottom" align="left"  id="tdPictureviewmenuTree" width="1">
			<button data-icon="scroll_right" class="noBtnBorder noBtnBackground" id="btnShowFolderTree"
					data-press="interfaceControl.getFolderTree().toggleShow(true);" title="%showTree%" ></button>
		</td>
		<td valign="bottom" align="left"  id="tdPictureviewmenu">
			
			<table id="tablePictureViewMenu" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td valign="bottom" align="left">
						<table cellpadding="0" cellspacing="0" border="0" id="pictureviewtabs">
							<tr>

								<td id="pictureView_ViewerTab" onMouseDown="interfaceControl.getPictureView().activateSection('Viewer', true);" class="publish_menu top">
									%view%
								</td>
								<td class="menuTabSpace"></td>
								<td id="pictureView_MetaTab" onMouseDown="interfaceControl.getPictureView().activateSection('Meta', true)" class="publish_menu top">
									%metadata%
								</td>
								<td class="menuTabSpace"></td>
								<td id="pictureView_ColorTab" onMouseDown="interfaceControl.getPictureView().activateSection('Color', true)" class="publish_menu top">
									%colorinfo%
								</td>
								<td class="menuTabSpace"></td>
								<td id="pictureView_PublishTab" onMouseDown="interfaceControl.getPictureView().activateSection('Publish', true)" class="publish_menu top">
									%publish%
								</td>
								<td id="pictureView_BatchSpace" class="menuTabSpace"></td>
								<td id="pictureView_BatchTab" onMouseDown="interfaceControl.getPictureView().activateSection('Batch', true)" class="publish_menu top">
									%batch%
								</td>
								<td class="menuTabSpace"></td>
								<td id="pictureView_DownloadTab" onMouseDown="interfaceControl.getPictureView().activateSection('Download', true)" class="publish_menu top">
									%download%
								</td>
								<td class="menuTabSpace"></td>
								<td id="pictureView_UploadTab" onMouseDown="interfaceControl.getPictureView().activateSection('Upload', true)" class="publish_menu top">
									<table cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td>
												%upload%
											</td>
											<td>
												
												<img style="margin-left:5px;margin-bottom:1px" id="uploadTabImage" src="images/spacer.gif" width="16" height="16" border="0">
											</td>
										</tr>
									</table>
								</td>
								<td class="menuTabSpace" id="pictureView_LicenceSpace"></td>
								<td id="pictureView_LicenceTab" onMouseDown="interfaceControl.getPictureView().activateSection('Licence', true)" class="publish_menu top">
									<table cellpadding="0" cellspacing="0" border="0">
										<tr>
											<td>
												%licence%
											</td>
											<td id="licenceWarningTD" style="display:none">
												<img style="margin-left:5px;margin-bottom:1px;" src="images/warning.png" width="13" height="15" border="0"/>
											</td>
											<td id="licenceErrorTD" style="display:none">
												<img style="margin-left:5px;margin-bottom:1px" id="imageLicenceInfo" src="images/error.png" width="15" height="15" border="0"/>
											</td>

											
										</tr>
									</table>
								</td>
								<td id="pictureView_InfoSpace" class="menuTabSpace"></td>
								<td id="pictureView_InfoTab" onMouseDown="interfaceControl.getPictureView().activateSection('Info', true)" class="publish_menu top">
									%info%
								</td>
								<td id="pictureView_HelpSpace" class="menuTabSpace"></td>
								<td id="pictureView_HelpTab" onMouseDown="interfaceControl.getPictureView().activateSection('Help', true)" class="publish_menu top">
									%help%
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>			
		</td>
		<td valign="middle" align="right" id="pictureView_LogOutTabs">
			<table style="height:100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td id="pictureView_ToggleTab">
						<button data-icon="scroll_down" data-icon-down="scroll_up"
								name="toggle_pictureview2" class="noBtnBorder" data-no-selected-class="1"
								id="pictureView_ToggleTab_image"
								data-btn-type="checkbox" data-press="interfaceControl.getPictureView().toggleShow(true);"
								title="%togglePictureViewSize%"></button>
					</td>
					<td id="folderTree_dock" class="publish_menu top small">
						<button data-icon="dockPictureView"
								name="toggle_docking" class="noBtnBorder"
								id="btnDockPictureView"
								data-press="interfaceControlLocal.toggleDocking();"
								title="%togglePictureViewSize%" ></button>
					</td>
					<td height="100%" id="logoutOptionsTD">

						<button data-icon="contextmenu"
								name="btnLogoutMenu" class="noBtnBorder"
								id="btnLogoutMenu"
								></button>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
