<table style="width:100%;height:100%" cellpadding="0" cellspacing="0" border="0" class="pictureView">
	<tr>
		<td style="vertical-align:top;width:100%;height:100%">

			<div id="divIframecover" style="display:none;background-color:rgba(0,0,0,0);position:absolute;left:0;top:0;z-index:50;width:100%;height:100%"></div>

				<div id="pictureView_ViewerContainer" class="flashContainerRelative"></div>

				<!-- Meta Data -->
				<div id="pictureView_MetaContainer" class="windowContent selectableItem pictureviewpanel lighttext">
					<div id="pictureView_ContextMenu_head">
						<button data-icon="contextmenu"
								name="pictureView_Meta_ContextMenu" class="noBtnBorder"
								id="pictureView_Meta_ContextMenu"
								title=""></button>

						<h2 id="pictureView_HeadText"></h2>
					</div>
					<div id="pictureView_MetaText" class="scrollcontainerDiv"></div>
				</div>
				
				
				
				<!-- Color Info -->
				<div id="pictureView_ColorContainer" class="windowContent selectableItem pictureviewpanel lighttext">
					<div id="pictureView_ColorText" class="scrollcontainerDiv"></div>
				</div>
				
			
				<!-- Publish -->
				<div id="pictureView_PublishContainer" class="flashContainerRelative lighttext">
					
					
					<!-- Publish Start Page -->
					<div id="pictureView_PublishContent" class="scrollcontainerDiv">
            <div id="mainctlcontent"></div>
					</div>

					
					
				</div>
				
				
				<!-- Upload -->
				<div id="pictureView_UploadContainer" class="windowContent pictureviewpanel">
					<div id="pictureViewUploadLock" class="pictureViewLockDivWrapper"><div class="pictureViewLockDivInner"></div></div>
					<div id="pictureView_UploadContent" class="scrollcontainerDiv">
					<br/>
						<div id="uploadFileProgress" class="fileTransferProgress"><div id="uploadFileProgressInner" class="fileTransferProgressInner"></div></div>
						<table width="100%" class="scrollcontainerTable" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td id="uploadHTMLTD" class="uploadDownloadContentTD" valign="top">
									
										<table id="uploadhtmltableHead" class="fileTransferHead" cellpadding="0" cellspacing="0" border="0">
											<thead>
												<tr id="uploadhtmltableheadrow" class="fileTransferHeadRow"><td class="uploadhtmltableicontd"></td><td class="uploadhtmltablemimeicontd downloadTypeTD"></td><td class="uploadhtmltablefiletd">%source%</td><td class="whitebgd">%target%</td><td class="uploadhtmltablefilesizetd whitebgd">%size%</td><td class="uploadhtmltableprogresstd uploadContentLastTD whitebgd">%progress%</td></tr>
											</thead>
										</table>

										<div id="uploadhtmltable" class="bgTextUpload">

										<table id="uploadhtmltableHelp" class="uploadhtmltable" cellpadding="0" cellspacing="0" border="0"><tbody class="fileTransferTableBody">
											<tr><td class="transferhelpicontd"></td><td class="filetransferinstructions" width="134"><img src="images/icon_upload_big.png" width="134" height="138" class="big_pictureview_icon"/></td><td class="filetransferinstructions">%dlgUploadBody%</td></tr>
										</tbody></table>

										<table id="uploadhtmltableElement" class="uploadhtmltable" cellpadding="0" cellspacing="0" border="0">
											<!-- DO NOT REFORMAT THE TABLE BODY BELOW. OTHERWISE THE SCRIPT WILL STOP WORKING -->
											<tbody id="uploadhtmltablebody" class="fileTransferTableBody"><tr><td class="uploadhtmltableicontd"></td><td class="uploadhtmltablemimeicontd"></td><td class="uploadhtmltablefiletd"></td><td></td><td class="uploadhtmltablefilesizetd">?</td><td class="uploadhtmltableprogresstd uploadContentLastTD"></td></tr></tbody>
										</table>

									</div>
									
									
									</td>
								</tr>
								<tr>
									<td id="uploadFooterTD">
										
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>	
												<td valign="top">
													<div class="pictureViewOptionsBox">
													<table cellpadding="2" cellspacing="0" border="0"  class="pictureViewOptions">
														<tr>
														<td>
															<input type="button" value="Pause" id="btnUploadPause" onClick="interfaceControl.getFileUploadCTL().onPressPause()" />
														</td>
															<td>
																<div id="uploadhtmlforms">
																	<form id="formUploadHTML" class="formUploadHTML" action="#" method="post" enctype="multipart/form-data" target="iFrameUploadResult">
																		<input type="button" class="fakeFileUploadBTN" value="%SelectFiles%" />
																		<input class="htmlFileUpload" type="file"
																			   multiple="multiple" name="Filedata"
																			   style="outline:none;" />
																		<input type="hidden" name="Dir" />
																		<input type="hidden" name="Filename" />
																		<input type="hidden" name="ForceHTMLResponse" value="true" />
																	</form>
																</div>
														</td>
													</tr>
												</table>
												</div>
									
											</td>
											<td class="uploadTotal"><span id="uploadTotalText" class="uploadTotal"><span id="uploadAddingFilesSpinner" style="display:none;padding:0 5px 0 0"><img style="position: relative;top: -4px;" src="images/adding_download_files.gif" width="16" height="16"/></span><span id="uploadTotalTextContent"></span><input type="button" value="Cancel" id="btnUploadCancelAdd" onClick="interfaceControl.getFileUploadCTL().cancelAddingFiles()" style="margin-left:8px;display:none" /><input type="button" value="Clear" id="btnUploadClear" onClick="interfaceControl.getFileUploadCTL().clearAll()" style="margin-left:8px" /></span>
											</td>
										</tr>
									</table>
									<div class="uploadIframeWrapper">
										<iframe id="iFrameUploadResult" name="iFrameUploadResult" width="20" height="20" frameborder="0" src="about:blank"></iframe>
									</div>
								</td>
							</tr>
						</table>
						
					</div>
				</div>
				
				<!-- Batch -->
				<div id="pictureView_BatchContainer" class="windowContent pictureviewpanel">
					<div id="pictureView_BatchContent" class="scrollcontainerDiv">
						
							<br/>
							<table width="100%" class="scrollcontainerTable" cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td id="batchdownloadTD" class="uploadDownloadContentTD" valign="top">
				
										<table id="batchdownloadhtmltableHead" class="fileTransferHead" cellpadding="0" cellspacing="0" border="0">
												<tr id="batchdownloadhtmltableheadrow" class="fileTransferHeadRow"><td class="uploadhtmltableicontd"></td><td class="downloadTypeTD"></td><td class="uploadhtmltablefiletd">%file%</td><td class="whitebgd uploadContentLastTD">%folder%</td></tr>
										</table>

										<div id="batchdownloadhtmltable">

											<table id="batchdownloadhtmltableHelp" class="uploadhtmltable" cellpadding="0" cellspacing="0" border="0"><tbody class="fileTransferTableBody">
												<tr><td class="transferhelpicontd"></td><td class="filetransferinstructions" width="134"><img src="images/icon_batch_big.png" width="134" height="138" class="big_pictureview_icon"/></td><td class="filetransferinstructions">%dlgBatchDownloadBody%</td></tr>
											</tbody></table>

											<table id="batchdownloadhtmltableElement" class="uploadhtmltable" cellpadding="0" cellspacing="0" border="0">
												<!-- DO NOT REFORMAT THE TABLE BODY BELOW. OTHERWISE THE SCRIPT WILL STOP WORKING -->
												<tbody id="batchdownloadhtmltablebody" class="fileTransferTableBody"><tr><td class="uploadhtmltableicontd"></td><td class="downloadTypeTD downloadTypeDocument"></td><td class="uploadhtmltablefiletd"></td><td class="uploadContentLastTD"></td></tr></tbody>
											</table>
										</div>
									
									</td>
								</tr>
								<tr>
									<td id="batchdownloadFooterTD">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
												<td valign="top">
													
													<div class="pictureViewOptionsBox">
													<table cellpadding="2" cellspacing="0" border="0" class="pictureViewOptions">
														<tr style="height:100%">
															<td class="downloadOptionsLabel">
																%downloadAs%
															</td>
															<td class="downloadOptionsControl">
																<select id="batchselectDownloadOptions" style="max-width:250px"></select>
																<input type="button" value="%DownloadOptions%" id="batchbtnDownloadOptions" onClick="interfaceControl.getFileBatchCTL().showDownloadOptions()"  style="margin-right:0;float:right;" />
															</td>
															<td class="tdBtnDownload" rowspan="3">
																<input type="button" value="Ok" class="btnCreateDownload" title="%CreateDownload%" id="batchbtnDownloadCreate" onClick="interfaceControl.getFileBatchCTL().createDownload()"/>
															</td>
														</tr>
														<tr>
															<td class="downloadOptionsLabel">%scheduledStart1%</td>
															<td class="downloadOptionsControl">
																<table width="100%" cellpadding="0" cellspacing="0" border="0">
																	<tr>
																		<td>
																			<input type="checkbox" id="batchcbdownloadscheduled" class="activateCheckBox"/>
																		</td>
																		<td id="batchdownloadscheduledatepickerTD">
																			<input id="batchdownloadscheduledatepicker" type="text" value="%scheduleNow%" />
																		</td>
																		<td style="vertical-align:bottom">
																		</td>
																		<td align="right">
																			<table class="scheduleTime"
																					cellpadding="0" cellspacing="0"
																				   border="0">
																				<tr>
																					<td>
																					&#160;&#160;%scheduledStart2%	
																					</td>
																					<td><select id="batchscheduledDownloadHour"></select></td>
																					<td>:</td>
																					<td><select style="margin-right:0" id="batchscheduledDownloadMinute"></select></td>
																				</tr>
																			</table>
																		</td>
																	</tr>
																	</table>
															</td>
															
														</tr>
														<tr>
															<td class="downloadOptionsLabel">%fileName%</td>
															<td class="downloadOptionsControl">
																<input id="batchdownloadfilename" type="text" style="width:100%;margin-bottom:0" />
															</td>
															
														</tr>

													</table>
													</div>
												</td>
												<td class="uploadTotal"><span id="batchdownloadTotalText" class="uploadTotal"><span id="batchdownloadTotalTextContent"></span><input type="button" value="%ClearAll%" id="batchbtnDownloadClear" onClick="interfaceControl.getFileBatchCTL().clearAll()"  style="margin-left:8px"/></span>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
					</div>
				</div>
				
				<!-- Download -->
				<div id="pictureView_DownloadContainer" class="windowContent pictureviewpanel">
					<div id="pictureView_DownloadContent" class="scrollcontainerDiv">
						
							<br/>
							<table width="100%" class="scrollcontainerTable" cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td id="downloadTD"  class="uploadDownloadContentTD" valign="top">
				
										<table id="downloadhtmltableHead" class="fileTransferHead" cellpadding="0" cellspacing="0" border="0">
												<tr id="downloadhtmltableheadrow" class="fileTransferHeadRow"><td class="uploadhtmltableicontd"></td><td class="downloadTypeTD"></td><td class="uploadhtmltablefiletd">%file%</td><td class="whitebgd uploadContentLastTD">%folder%</td></tr>
										</table>

										<div id="downloadhtmltable">

											<table id="downloadhtmltableHelp" class="uploadhtmltable" cellpadding="0" cellspacing="0" border="0"><tbody class="fileTransferTableBody">
												<tr><td class="transferhelpicontd"></td><td class="filetransferinstructions" width="134"><img src="images/icon_download_big.png" width="134" height="138" class="big_pictureview_icon" alt=""/></td><td class="filetransferinstructions">%dlgDownloadBody%</td></tr>
											</tbody></table>

											<table id="downloadhtmltableElement" class="uploadhtmltable" cellpadding="0" cellspacing="0" border="0">
												<!-- DO NOT REFORMAT THE TABLE BODY BELOW. OTHERWISE THE SCRIPT WILL STOP WORKING -->
												<tbody class="fileTransferTableBody"><tr><td></td><td></td><td class="uploadhtmltablefiletd"></td><td class="uploadContentLastTD"></td></tr></tbody>
											</table>
										</div>
									
									</td>
								</tr>
								<tr>
									<td id="downloadFooterTD">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
												<td valign="top">
													
													<div class="pictureViewOptionsBox">
													<table cellpadding="2" cellspacing="0" border="0" class="pictureViewOptions">
														<tr style="height:100%">
															<td class="downloadOptionsLabel">
																%downloadAs%
															</td>
															<td class="downloadOptionsControl">
																<select id="selectDownloadOptions" style="width:100%;margin-right:0;"></select>
																<input type="button" value="%DownloadOptions%" id="btnDownloadOptions" onClick="interfaceControl.getFileDownloadCTL().showDownloadOptions()"/>
															</td>
															<td class="tdBtnDownload" rowspan="3">
																<input type="button" value="Ok" class="btnCreateDownload" title="%CreateDownload%" id="btnDownloadCreate" onClick="interfaceControl.getFileDownloadCTL().createDownload()"/>
															</td>
														</tr>
														<tr>
															<td class="downloadOptionsLabel">%scheduledStart1%</td>
															<td class="downloadOptionsControl">
																<table width="100%" cellpadding="0" cellspacing="0" border="0">
																	<tr>
																		<td>
																			<input type="checkbox" id="cbdownloadscheduled" class="activateCheckBox"/>
																		</td>
																		<td id="downloadscheduledatepickerTD">
																			<input id="downloadscheduledatepicker" type="text" value="%scheduleNow%" />
																		</td>
																		<td style="vertical-align:bottom">
																		</td>
																		<td align="right">
																			<table class="scheduleTime" cellpadding="0"
																				   cellspacing="0" border="0">
																				<tr>
																					<td>

																					&#160;&#160;%scheduledStart2%	
																					</td>
																					<td><select id="scheduledDownloadHour"></select></td>
																					<td>:</td>
																					<td><select id="scheduledDownloadMinute" style="margin-right:0"></select>
																				</td>
																			</tr>
																		</table>

																	</td>
																	</tr>
																	</table>
															</td>
															
														</tr>
														<tr>
															<td class="downloadOptionsLabel">%fileName%</td>
															<td class="downloadOptionsControl">
																<input id="downloadfilename" type="text" style="width:100%;margin-bottom:0" />
															</td>
															
														</tr>

													</table>
													</div>
												</td>
												<td class="uploadTotal"><span id="downloadTotalText" class="uploadTotal"><span id="downloadTotalTextContent"></span><input type="button" value="%ClearAll%" id="btnDownloadClear" onClick="interfaceControl.getFileDownloadCTL().clearAll()"  style="margin-left:8px"/></span>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
					</div>
				</div>
				
				
				<!-- Info -->
				<div id="pictureView_InfoContainer" class="windowContent selectableItem pictureviewpanel">
					<div id="pictureView_InfoText">
						<iframe id="iFrameInfo" name="iFrameInfo" class="pictureView" width="100%" height="100%" frameborder="0" src="about:blank"></iframe>
					</div>
				</div>
				
				<!-- Licence -->
				<div id="pictureView_LicenceContainer" class="windowContent selectableItem pictureviewpanel lighttext">
					<div id="pictureView_LicenceText" class="scrollcontainerDiv" style="width:100%;height:100%">
						<h2 class="title">%LicenceInformation%</h2>
						<table cellpadding="0" cellspacing="0" border="0">
							<tr id="licenceHeadRow">
								<td>Current Licence</td>
								<td width="60"></td>
								<td>New Licence</td>
								<td colspan="2"></td>
							</tr>
							<tr>
								<td valign="top">
								<span id="tableLicenceInfo"></span>
								</td>
								<td id="newLicenceTDSpace" width="60"></td>
								<td id="newLicenceTD" valign="top">
									<span id="tableLicenceInfoNew"></span>
								</td>
								<td width="60"></td>
								<td id="licenceOptionsTD" valign="top">
									<div style="width:480px">
										<div class="licenceBox OnlineLicensing">

											<h2 class="topAlign">%OnlineLicensingSystem%</h2>
												

											<div class="licenceState1">
                        $LicenceStateGetTrial%
											</div>
											
											<div class="licenceState2">
                        %LicenceStateHasLicence%
											</div>
											<br/><br/>
											
											<table cellpadding="0" cellspacing="0" border="0"  style="margin-left:auto">
												<tr>
													<td valign="bottom" class="licenceState1" style="padding-left:0; margin:0;">
														<input align="right" id="btnLicenceGetTrial" type="button" value="%GetAFreeTrialLicence%" onclick="interfaceControl.getPictureView().getTrialKey()"/>
													</td>
													<td class="licenceState2" style="padding-left:0; margin:0;">
														<input align="right" id="btnLicenceUpdate" type="button" value="%CheckForUpdatedLicenceKey%" onclick="interfaceControl.getPictureView().checkForKeyUpdate()"/>
													</td>											
													
													<td width="12"></td>
													<td valign="bottom" style="padding-left:0; margin:0;">
														<input align="right" id="btnLicenceEnterPID" type="button" value="%InstallLicence%" onclick="interfaceControl.getPictureView().checkForKeyByPID()"/>
													</td>
												</tr>
											</table>
											<span id="keyUpdateProgress"></span>
										</div>
											
											
										<div class="licenceBox">
											<h2 class="topAlign">%EnterKeyManually%</h2>
                      %EnterKeyManuallyText%
											<br/><br/>

											<table cellpadding="0" cellspacing="0" border="0" style="margin-left:auto">
												<tr><td id="browseForLicenceTD">
														
														
														<input style="display:none" id="btnBrowseLocalLicence" type="file" value="Install local licence key" onChange="interfaceControl.getPictureView().installLocalLicenceFile()"/>

														<input type="button" value="%BrowseForFile%" onClick="interfaceControl.getPictureView().installLocalLicenceFileFake()"/>
													
														</td>
											<td id="browseForLicenceOrTD"></td>
											<td>
													<input id="btnEnterLicence" type="button" value="%EnterLicenceData%" onClick="interfaceControl.getPictureView().enterLicenceData()" style="margin-left:12px"/>
											</td></tr></table>
										</div>
									</div>
								</td>
							
							</tr>
						</table>
					</div>
				</div>
				
				
				<!-- Help -->
				<div id="pictureView_HelpContainer" class="windowContent selectableItem pictureviewpanel">
					<div id="pictureView_HelpText">
						<iframe id="iFrameHelp" name="iFrameHelp" class="pictureView" width="100%" height="100%" frameborder="0" src="about:blank"></iframe>
					</div>
				</div>
				
		</td>
	</tr>
</table>
