<div>
	<table id="searchContentTable" cellpadding="0" cellspacing="0" border="0" class="treemenu">
		<tr>
			<td>
				<table width="100%" cellpadding="0" cellspacing="0" border="0" class="treemenu" style="margin-top:6px;margin-bottom:6px">
					<tr>
						<td width="100%" height="28" class="search">
							<input id="inputsearch" type="search" class="search selectableItem" placeholder="%EnterKeywords%" autocomplete="off" spellcheck="false" />
						</td>
						<td style="display:none">
							<input id="btnStartSearch" type="button" value="%Search%" onClick="interfaceControl.getSearchCTL().startSearch()" style="margin-right:0" />
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table id="searchLimitTable" cellpadding="0" cellspacing="0" border="0" style="margin-top:8px">
					<tr>
						<td><input type="checkbox" id="searchInCurrentDir"/></td>
						<td id="limitSearchToDirTextTD" class="searchTD">%LimitToCurrentDirectory%</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td style="height:40px;padding-top:10px;vertical-align:top">
				<fieldset style="width:100%" class="search">
					<legend class="search">%SearchConditions%</legend>
					<div id="searchConditionOuterContainer">
						<div id="searchConditionContainer" style="width:100%;padding-bottom: 12px;overflow:auto">
              <ol id="searchConditionContainerOL" style="padding-inline-start:0">
              <li class="searchItemLI">



                <table cellpadding="0" cellspacing="0" border="0" class="searchItemTable">
                  <tr>
                    <td class="searchItemName" colspan="2">
                      <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr id="searchFirstMandatoryTable" style="display:none">
                          <td>
                            <table cellpadding="0" cellspacing="0" border="0" >
                              <tr>
                                <td><input type="checkbox" checked="checked" title="%SearchConditionEnable%"/></td>
                                <td><input type="radio" name="searchradio1" checked="checked" value="+" /></td><td>%mandatory%</td>
                                <td><input type="radio" name="searchradio1" value=" " /></td><td>%alternatively%</td>
                              </tr>
                            </table>
                          </td>
                          <td align="right" class="deleteSearchCondition">
                            <input class="deleteSearchCondition" type="button" value="x" onclick="interfaceControl.getSearchCTL().removeCondition(this)" disabled="disabled" style="visibility:hidden" />
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td class="searchItemName" colspan="2">
                      <select class="searchItemSelect"></select>
                    </td>
                  </tr>
                  <tr>
                    <td style="width:30px">
                      <select class="search icons">
                        <option value="">=</option>
                        <option value="-">&#x2260;</option>
                        <option value="&lt;=">&#x2264;</option>
                        <option value="&lt;">&lt;</option>
                        <option value="&gt;">&gt;</option>
                        <option value="&gt;=">&#x2265;</option>
                      </select>
                    </td>
                    <td>
                      <input type="search" style="width:100%" spellcheck="false" autocomplete="off" placeholder="%EnterValue%"/>
                    </td>
                  </tr>
                </table>
              </li>
              <li class="searchItemLI">
                <table cellpadding="0" cellspacing="0" border="0" class="searchItemTable">
                  <tr>
                    <td class="searchItemName" colspan="2">

                      <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                          <td>
                            <table cellpadding="0" cellspacing="0" border="0">
                              <tr>
                                <td><input type="checkbox" checked="checked" title="%SearchConditionEnable%"/></td>
                                <td><input type="radio" name="searchradio2" checked="checked" value="+" /></td><td>%mandatory%</td>
                                <td><input type="radio" name="searchradio2" value=" " /></td><td>%alternatively%</td>
                              </tr>
                            </table>
                          </td>
                          <td align="right" class="deleteSearchCondition">
                            <input class="deleteSearchCondition" type="button" value="x" onclick="interfaceControl.getSearchCTL().removeCondition(this)" />
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td class="searchItemName" colspan="2">
                      <select class="searchItemSelect"></select>
                    </td>
                  </tr>
                  <tr>
                    <td style="width:30px">
                      <select class="search icons">
                        <option value="">=</option>
                        <option value="-">&#x2260;</option>
                        <option value="&lt;=">&#x2264;</option>
                        <option value="&lt;">&lt;</option>
                        <option value="&gt;">&gt;</option>
                        <option value="&gt;=">&#x2265;</option>
                      </select>
                    </td>
                    <td>
                      <input type="search" style="width:100%" spellcheck="false" placeholder="%EnterValue%" />
                    </td>
                  </tr>
                </table>
              </li>
              </ol>
						</div>
					</div>

					<table cellpadding="0" cellspacing="0" border="0" style="width:100%;margin-top:8px;">
						<tr>
							<td align="right">
								<input type="button" style="margin-bottom: 4px;" value="%resetConditions%" onClick="interfaceControl.getSearchCTL().resetConditions()" />
								<input type="button" value="%addCondition%" onClick="interfaceControl.getSearchCTL().addCondition()" style="margin-right:0" />
							</td>
						</tr>
					</table>
				</fieldset>
			</td>
		</tr>
	</table>
	<table id="searchInfoTable" cellpadding="0" cellspacing="0" border="0" class="treeSearchInfo">
		<tr>
			<td>
				Searching is currently disabled.<br/><br/>
				You can:
				<ul><li>find setup instructions <a href="javascript:interfaceControl.showHelpSection('#setupHelp')" target="_top">here</a><br/><br/></li>
				<li>hide the "Search" tab by setting the "hideSearchTab" variable in the <i>/interface/config.js</i> file to "true"</li>
			</ul>
			<br/>
			This text is visible only for users with "serverAdmin" permission.
			</td>
		</tr>
	</table>
</div>
