<table style="width:100%;height:100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td valign="bottom">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td id="folderTree_FolderTab" onMouseDown="interfaceControl.getFolderTree().activateSection(this, 'folderTree_TreeContainer');" class="publish_menu top">
						%Folder%
					</td>
					<td class="menuTabSpace"></td>
					<td id="folderTree_SearchTab" onMouseDown="interfaceControl.getFolderTree().activateSection(this,'folderTree_SearchContainer')" class="publish_menu top">
						%Search%
					</td>
				</tr>
			</table>
		</td>
		<td valign="bottom" align="right" width="17">
			<button data-icon="scroll_left" class="noBtnBorder" id="btnHideFolderTree" name="toggle_pictureview1"
              data-press="interfaceControl.getFolderTree().toggleShow(true);" title="%hideTree%"></button>
		</td>
	</tr>
</table>
