<div id="folderTreePanel" style="height:100%">
	<div id="folderTree_TreeContainer">
	<table id="folderTreeSuperContainer" cellpadding="0" cellspacing="0" border="0" style="width:100%;height:100%">
		<tr>
			<td valign="top" id="folderTreeSuperTD">
				<div id="foldertree_context_menu_element_container">
					<button data-icon="contextmenu"
							name="foldertree_context_menu_element" class="noBtnBorder"
							id="foldertree_context_menu_element"></button>
				</div>
				<div id="foldertreecontainer"></div>
			</td>
		</tr>
		<tr>
			<td id="folderTree_connectorInfo" valign="top">
				<div id="connectorInfoContainer">
					<div id="connectorInfoContent" class="connectorInfo">
						<table class="connectorInfoTable" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td colspan="2" id="connectorInfoName" class="connectorInfoText"></td>
							</tr>
							<tr>
								<td class="connectorInfoText" style="width:40px" valign="top" align="left" id="connectorInfoIconTD">
									<div id="connectorTypeIcon"><img id="connectorTypeIcon_readonly" src="images/readonly.svg" title="read only" alt="read only" width="26" height="26" border="0"/></div>
								</td>
								<td valign="top" id="connectorContentCount"></td>
								
							</tr>
							<tr id="connectorPermissionsTR">
								<td></td>
								<td valign="top" class="tdMoreConnectorInfo">
									<a class="grey" href="#" onClick="interfaceControl.showConnectorPermissions()">
									%MoreInformation%
									</a>
								</td>
							</tr>
							<tr id="connectorCommentTR">
								<td colspan="2" valign="top" class="connectorInfoText"
									id="connectorCommentTD"><span	id="connectorCommentSpan"></span></td>
							</tr>							
						</table>
					</div>
				</div>
				
			</td>
		</tr>
	</table>
	</div>
	<div id="folderTree_SearchContainer" style="display:none"></div>
</div>
