body,html{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background-color:#333;
  font-family:sans-serif;
}

body{
  font-family:sans-serif;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  flex-direction:column;
}

.fsi-pages-root{
  background-color:#333;
}

.fsi-image-twins-root{
  color: white;
}

.fsi-pages-root .fsi-pages-page.fsi-pages-intro-content{
  color: white;
}

body > *{
  margin:auto;
  flex-grow: 0;
  flex-shrink: 0;
}

body.pages-flip{
  overflow:hidden;
}
