/* webkit scrollbar styles */
::-webkit-scrollbar-corner,
.ui-dialog *::-webkit-scrollbar-corner{
  background: #000;
}

::-webkit-scrollbar,
.ui-dialog .darkscoll::-webkit-scrollbar{
	width: 12px;  /* for vertical scrollbars */
	height: 12px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track,
.ui-dialog .darkscoll::-webkit-scrollbar-track{
	background: #222;
	border-left: 1px solid #111;
}
::-webkit-scrollbar-thumb,
.ui-dialog .darkscoll::-webkit-scrollbar-thumb{
	border-left: 1px solid #050505;
	background: #333;
}

.ui-dialog *::-webkit-scrollbar-track {
	background: #000;
	border-left: 1px solid #050505;
}

.ui-dialog *::-webkit-scrollbar-thumb {
	background: #444;
	border: 1px solid #050505;
	border-width: 0px 0px 1px 1px;
}

*{
	/* MSIE scrollbar styles */
	scrollbar-base-color: #1a1a1a;
	scrollbar-3dlight-color: #333;
	scrollbar-highlight-color: #333;
	scrollbar-track-color: #1a1a1a;
	scrollbar-arrow-color: #CCC;
	scrollbar-face-color: #333;
	scrollbar-shadow-color: #333;
	scrollbar-dark-shadow-color: #333;
}

#scrollctl{
	background-color: #333;
	position:relative;
	width:16px;
	min-width:16px;
	max-width:16px;
	height:100%;
	vertical-align:top;
	top:0;
	left:0;
	margin:0;
	padding:0;
	cursor:default;
}

#scrollerContainerTABLE{
	background-color:#333;
	width:16px;
	height:100%;
	visibility:hidden;
}

#scrollerContainerTD{
	background-color:#1a1a1a;
}

div.scroller{
	position:relative;
	left:0;
	top:0;
	width:16px;
	height:30px;
	border-left: 1px solid #1a1a1a;
	background-color:#333;
	margin:0;
	padding:0;
	background-repeat:no-repeat;
	background-position:left center;
}

div.scrollerText{
	position:absolute;
	height:28px;
	width:160px;
	left:-160px;
	vertical-align:top;
	top:-2px;
	text-align:right;
	display:none;
}

span.scrollerText{
	top:0;
	height:24px;
	position:relative;
	color: #FFF;
	font-size:16px;
	font-weight:bold;
	padding:4px 8px 4px 8px;
	border: 1px solid #1a1a1a;
	border-right-width:0;
	background-color:#333;
	cursor:default;
}

td.scrollerButton{
	height:19px;
	margin:0;
	padding:0;
}

td.scrollerButton button.btn{
	width:16px;
}

td.scrollerButton button.btn svg{
	width:15px;
}

#scrollerButtonTop button.btn{
	border-top-color:transparent;
}

#scrollerButtonTop button.btn:hover {
	border-top-color: #39f;
}

#scrollerButtonBottom button.btn{
	border-bottom-color:transparent;
}
#scrollerButtonBottom button.btn:hover {
	border-bottom-color: #39f;
}
