.fsi-skin-black .fsi-ui-menu-bar {
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(top, #737373 0%, #252525 50%, #000000 50%, #262626 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#737373), color-stop(50%,#252525), color-stop(50%,#000000), color-stop(100%,#262626)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #737373 0%,#252525 50%,#000000 50%,#262626 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #737373 0%,#252525 50%,#000000 50%,#262626 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #737373 0%,#252525 50%,#000000 50%,#262626 100%); /* IE10+ */
	background: linear-gradient(to bottom, #737373 0%,#252525 50%,#000000 50%,#262626 100%); /* W3C */

}

.fsi-skin-black .fsi-ui-button  {
	border:1px solid #111;
	border-radius: 4px;
}

.fsi-skin-black .fsi-ui-button-hover  {
	border-color:#777;
}

.fsi-skin-black .fsi-ui-button-active  {
	background-color:#333;
	background: linear-gradient(to top, #666 0%,#444 50%,#444 50%,#262626 100%); 
	border-color:#111;
}

.fsi-skin-black .fsi-ui-button-icon {
	color: #BBB;
}

.fsi-skin-black .fsi-ui-button-hover .fsi-ui-button-icon, 
.fsi-skin-black .fsi-ui-button-active .fsi-ui-button-icon{
	color: white;
}

.fsi-skin-black .fsi-ui-menu-bar-disabled .fsi-ui-button-icon,
.fsi-skin-black .fsi-ui-button-disabled .fsi-ui-button-icon {
	color: #777;
}

/* tool tips */
.fsi-skin-black .fsi-ui-tool-tip {
	color:white;
	background-color:#000;
	border:1px solid #000;
	box-shadow: 4px 4px 2px rgba(0,0,0,0.5);
}

.fsi-skin-black .fsi-ui-tool-tip-arrow {
	border-top-color: #000;
}


/* select frame */
.fsi-skin-black .fsi-ui-select-frame{
	border-color:#58a8ff;
	background-color: rgba(255, 255, 255, 0.25);
}

/* progress bar */
.fsi-skin-black .fsi-ui-progressbar{
	color:#58a8ff;
	background-color:rgba(255,255,255,0.5);
	border-color:#58a8ff;
}

.fsi-skin-black .fsi-ui-progressbar-text{
	color:#FFF;
}


/* navigation window */
.fsi-skin-black .fsi-ui-nav-window {
	background-color: #000;
	border-radius: 5px 5px 0 0 ;
	background: linear-gradient(to bottom, #737373 0%,#252525 50%,#000000 50%,#262626 100%);
	margin-bottom:0;
	line-height:0.9em;
}

.fsi-skin-black .fsi-ui-nav-frame {
	border: 1px solid #58a8ff;
	background-color: rgba(88,168,255,0.25);
}

.fsi-skin-black .fsi-ui-nav-window-zoom-text{
	color:#bbb;
}

/* HotSpots */
.fsi-skin-black div.fsi-ui-hotspot {
	color:#fff;
	border:1px solid rgba(255,255,255, 1.0);
	border-radius: 2px;
	background-color: rgba(88, 168, 255, 0.85);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.fsi-skin-black .fsi-ui-hotspot-hover .fsi-ui-hotspot-spot{
	fill: #dc7d0c;
}

.fsi-skin-black div.fsi-ui-hotspot-hover {
	background-color: rgba(88, 168, 255, 1.0);
}

.fsi-skin-black div.fsi-ui-hotspot-active {
	background-color: rgba(88, 168, 255, 1.0);
}


.fsi-skin-black .fsi-ui-hotspot-line-color {
	color: #336699;
}

.fsi-skin-black .fsi-ui-hotspot-line-background-color {
	color: #113399;
}


/* dialogs */
.fsi-skin-black .fsi-dialog{
	border:0 none;
	background-color:#000;
	color:#BBB;
}

.fsi-skin-black .fsi-dialog input[type="button"]{
	font-size: 14px;
	color: #BBB;
	border:1px solid #BBB;
	background-color: transparent;
}

.fsi-skin-black .fsi-dialog input[type="button"]:hover{
	color: black;
	background-color: #EEE;
}

/* FSI Pages */
.fsi-pages-root.fsi-skin-black div.fsi-v-scroll-panel-inner{
	border-left-color: #000;
}
.fsi-pages-root.fsi-skin-black div.fsi-pages-chapters{
	border-color: #000;
}
.fsi-pages-root.fsi-skin-black table.fsi-pages-chapters tr.fsi-pages-chapters-row:hover td,
.fsi-pages-root.fsi-skin-black table.fsi-pages-chapters tr.fsi-pages-chapters-current td{
	background-color:#e9f6ff;
	border-color:#58a8ff;
}
.fsi-pages-root.fsi-skin-black .fsi-pages-thumbindex .fsi-pages-page-container.selected .fsi-pages-page-border,
.fsi-pages-root.fsi-skin-black .fsi-pages-thumbindex .fsi-pages-page-border.selected{
	-webkit-box-shadow:0 0 0 2px #58a8ff;
	-moz-box-shadow:0 0 0 2px #58a8ff;
	box-shadow:0 0 0 2px #58a8ff;
}

.fsi-pages-root.fsi-skin-black .fsi-pages-thumbindex .fsi-pages-page-container.selected .fsi-page-number{
	background-color: #58a8ff;
}
.fsi-pages-root.fsi-skin-black .fsi-pages-thumbbar .fsi-pages-page-container.selected .fsi-pages-page-border,
.fsi-pages-root.fsi-skin-black .fsi-pages-thumbbar .fsi-pages-page-border.selected{
		-webkit-box-shadow:0 0 0 2px #58a8ff;
	-moz-box-shadow:0 0 0 2px #58a8ff;
	box-shadow:0 0 0 2px #58a8ff;
}

.fsi-pages-root.fsi-skin-black .fsi-pages-thumbbar .fsi-pages-page-container.selected .fsi-page-number{
	background-color: #58a8ff;
}

.fsi-pages-root.fsi-skin-black .fsi-ui-button.PageInput input{
	color:#000;
}

.fsi-pages-root.fsi-skin-black .fsi-ui-button.PageInput{
	border:1px solid #666;
	background-color: #EEE;
}

.fsi-pages-root.fsi-skin-black .fsi-ui-button.PageInput.fsi-input-focussed{
	border-color:#3399ff;
	background-color: #FFF;
}


.fsi-pages-root.fsi-skin-black .fsi-pages-linkcontainer-interactive .fsi-pages-link.fsi-pages-link-auto-color.hover,
.fsi-pages-root.fsi-skin-black .fsi-pages-linkcontainer-interactive .fsi-pages-link.fsi-pages-link-auto-color.active{
	stroke: #3399FF;
}