.fsi-skin-black-flat .fsi-ui-menu-bar {
	background: #000000;
}

.fsi-skin-black-flat .fsi-ui-button  {
	border:1px solid #111;
}

.fsi-skin-black-flat .fsi-ui-button-hover  {
	border-color:#777;
}

.fsi-skin-black-flat .fsi-ui-button-active  {
	background-color:#333;
	border-color:#111;
}

.fsi-skin-black-flat .fsi-ui-button-icon {
	color: #BBB;
}

.fsi-skin-black-flat .fsi-ui-button-hover .fsi-ui-button-icon, 
.fsi-skin-black-flat .fsi-ui-button-active .fsi-ui-button-icon{
	color: white;
}

.fsi-skin-black-flat .fsi-ui-menu-bar-disabled .fsi-ui-button-icon,
.fsi-skin-black-flat .fsi-ui-button-disabled .fsi-ui-button-icon {
	color: #777;
}

/* tool tips */
.fsi-skin-black-flat .fsi-ui-tool-tip {
	color:white;
	background-color:#000;
	border:1px solid #000;
	box-shadow: 4px 4px 2px rgba(0,0,0,0.5);
}

.fsi-skin-black-flat .fsi-ui-tool-tip-arrow {
	border-top-color: #000;
}


/* select frame */
.fsi-skin-black-flat .fsi-ui-select-frame{
	border-color:#58a8ff;
	background-color: rgba(255, 255, 255, 0.25);
}

/* progress bar */
.fsi-skin-black-flat .fsi-ui-progressbar{
	color:#58a8ff;
	background-color:rgba(255,255,255,0.5);
	border-color:#58a8ff;
}

.fsi-skin-black-flat .fsi-ui-progressbar-text{
	color:#FFF;
}


/* navigation window */
.fsi-skin-black-flat .fsi-ui-nav-window {
	background-color: #000;
	margin-bottom:0;
	line-height:0.9em;
}

.fsi-skin-black-flat .fsi-ui-nav-frame {
	border: 1px solid #58a8ff;
	background-color: rgba(88,168,255,0.25);
}

.fsi-skin-black-flat .fsi-ui-nav-window-zoom-text{
	color:#bbb;
}

/* HotSpots */
.fsi-skin-black-flat div.fsi-ui-hotspot {
	color:#fff;
	border:1px solid rgba(255,255,255, 1.0);
	border-radius: 2px;
	background-color: rgba(88, 168, 255, 0.85);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.fsi-skin-black .fsi-ui-hotspot-hover .fsi-ui-hotspot-spot{
	fill: #dc7d0c;
}

.fsi-skin-black-flat div.fsi-ui-hotspot-hover {
	background-color: rgba(88, 168, 255, 1.0);
}

.fsi-skin-black-flat div.fsi-ui-hotspot-active {
	background-color: rgba(88, 168, 255, 1.0);
}


.fsi-skin-black-flat .fsi-ui-hotspot-line-color {
	color: #336699;
}

.fsi-skin-black-flat .fsi-ui-hotspot-line-background-color {
	color: #113399;
}

/* dialogs */
.fsi-skin-black-flat .fsi-dialog{
	border:0 none;
	background-color:#000;
	color:#BBB;
}

.fsi-skin-black-flat .fsi-dialog input[type="button"]{
	font-size: 14px;
	color: #BBB;
	border:1px solid #BBB;
	background-color: transparent;
}

.fsi-skin-black-flat .fsi-dialog input[type="button"]:hover{
	color: black;
	background-color: #EEE;
}


/* FSI Pages */
.fsi-pages-root.fsi-skin-black-flat div.fsi-v-scroll-panel-inner{
	border-left-color: #000;
}
.fsi-pages-root.fsi-skin-black-flat div.fsi-pages-chapters{
	border-color: #000;
}
.fsi-pages-root.fsi-skin-black-flat table.fsi-pages-chapters tr.fsi-pages-chapters-row:hover td,
.fsi-pages-root.fsi-skin-black-flat table.fsi-pages-chapters tr.fsi-pages-chapters-current td{
	background-color:#e9f6ff;
	border-color:#58a8ff;
}
.fsi-pages-root.fsi-skin-black-flat .fsi-pages-thumbindex .fsi-pages-page-container.selected .fsi-pages-page-border,
.fsi-pages-root.fsi-skin-black-flat .fsi-pages-thumbindex .fsi-pages-page-border.selected{
	-webkit-box-shadow:0 0 0 2px #58a8ff;
	-moz-box-shadow:0 0 0 2px #58a8ff;
	box-shadow:0 0 0 2px #58a8ff;
}

.fsi-pages-root.fsi-skin-black-flat .fsi-pages-thumbindex .fsi-pages-page-container.selected .fsi-page-number{
	background-color: #58a8ff;
}
.fsi-pages-root.fsi-skin-black-flat .fsi-pages-thumbbar .fsi-pages-page-container.selected .fsi-pages-page-border,
.fsi-pages-root.fsi-skin-black-flat .fsi-pages-thumbbar .fsi-pages-page-border.selected{
		-webkit-box-shadow:0 0 0 2px #58a8ff;
	-moz-box-shadow:0 0 0 2px #58a8ff;
	box-shadow:0 0 0 2px #58a8ff;
}

.fsi-pages-root.fsi-skin-black-flat .fsi-pages-thumbbar .fsi-pages-page-container.selected .fsi-page-number{
	background-color: #58a8ff;
}

.fsi-pages-root.fsi-skin-black-flat .fsi-ui-button.PageInput{
	border:1px solid #666;
	background-color: #EEE;
}


.fsi-pages-root.fsi-skin-black-flat .fsi-ui-button.PageInput.fsi-input-focussed{
	border-color:#3399ff;
	background-color: #FFF;
}


.fsi-pages-root.fsi-skin-black-flat .fsi-pages-linkcontainer-interactive .fsi-pages-link.fsi-pages-link-auto-color.hover,
.fsi-pages-root.fsi-skin-black-flat .fsi-pages-linkcontainer-interactive .fsi-pages-link.fsi-pages-link-auto-color.active{
	stroke: #3399FF;
}