.fsi-skin-floating .fsi-ui-info:before {
	content:'{"floatingMenuBar":true, "floatingNavWindow":true}';
}


.fsi-skin-floating .fsi-ui-menu-bar {
	background: rgba(128,128,128,0.5);
}


.fsi-skin-floating .fsi-ui-button  {
	background: rgba(0,255,0,0);
	margin-left: 0.1em;
	margin-right: 0.1em;
	width:1em;
	height:1em;
	line-height:0.85em;
	border-radius: 2px;
	border: 1px solid rgba(255,255,255,0.5);
}


.fsi-skin-floating .fsi-ui-button-hover  {
	background-color:rgba(255,255,255,0.65);
}

.fsi-skin-floating .fsi-ui-button-active  {
	background-color:#EEE;
}

.fsi-skin-floating .fsi-ui-button-disabled{
	background-color:transparent!important;
}


.fsi-skin-floating .fsi-ui-button-icon {
	color: #000;
}

.fsi-skin-floating .fsi-ui-button-disabled .fsi-ui-button-icon {
	color:#000;
	opacity:0.35;
}

.fsi-skin-floating .fsi-ui-button-hover .fsi-ui-button-icon {
}

.fsi-skin-floating .fsi-ui-button-active .fsi-ui-button-icon {
}

.fsi-skin-floating .fsi-ui-menu-bar-disabled .fsi-ui-button-icon{
	
}



/* navigation window */
.fsi-skin-floating .fsi-ui-nav-window {
	background: rgba(128,128,128,0.5);
	margin-bottom:0;
	line-height:0.9em;
}


/* HotSpots */
.fsi-skin-floating div.fsi-ui-hotspot-container svg{
	pointer-events: none!important;
}


.fsi-skin-floating div.fsi-ui-hotspot {
	color:#000;
	border:1px solid #999;
	border-radius: 2px;
	background-color: rgba(222, 222, 222, 0.85);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.fsi-skin-floating div.fsi-ui-hotspot-hover {
	background-color: rgba(240, 240, 240, 1.0);
}

.fsi-skin-floating div.fsi-ui-hotspot-active {
	background-color: rgba(240, 240, 240, 1.0);
}
