
.fsi-skin-silver .fsi-ui-menu-bar {
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #e1e1e1 0%, #eeeeee 5%, #ffffff 50%, #a4a4a4 100%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e1e1), color-stop(5%,#eeeeee), color-stop(50%,#ffffff), color-stop(100%,#a4a4a4), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e1e1e1 0%,#eeeeee 5%,#ffffff 50%,#a4a4a4 100%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e1e1e1 0%,#eeeeee 5%,#ffffff 50%,#a4a4a4 100%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e1e1e1 0%,#eeeeee 5%,#ffffff 50%,#a4a4a4 100%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e1e1e1 0%,#eeeeee 5%,#ffffff 50%,#a4a4a4 100%,#cccccc 100%);/* W3C */
}


.fsi-skin-silver .fsi-ui-button  {
	border:1px solid #CCC;
	border-radius: 4px;
}


.fsi-skin-silver .fsi-ui-button-hover  {
	border-color:#AAA;
	
}

.fsi-skin-silver .fsi-ui-button-active  {
	background-color:#CCC;
	background: linear-gradient(to bottom, #CCCCCC 0%,#A4A4A4 5%,#FFFFFF 50%,#EEEEEE 95%, #E1E1E1 100%); 
	border-left-color:#AAA;
	border-top-color:#AAA;
	border-right-color:#FFF;
	border-bottom-color:#FFF;
}

.fsi-skin-silver .fsi-ui-button-icon {
	color: #777;
}

.fsi-skin-silver .fsi-ui-button-disabled .fsi-ui-button-icon {
	color:#c3c3c3;
}

.fsi-skin-silver .fsi-ui-button-hover .fsi-ui-button-icon,
.fsi-skin-silver .fsi-ui-button-active .fsi-ui-button-icon {
	color:#444;
}

.fsi-skin-silver .fsi-ui-menu-bar-disabled .fsi-ui-button-icon{
	color: #c3c3c3;
}

/* select frame */
.fsi-skin-silver .fsi-ui-select-frame{
	border-color:red;
	background-color: rgba(255, 255, 255, 0.25);
}

/* progress bar */
.fsi-skin-silver .fsi-ui-progressbar{
	color:#EEE;
	background-color:rgba(255,255,255,0.5);
	border-color:#999;
}

.fsi-skin-silver .fsi-ui-progressbar-text{
	color:#555;
}


/* tool tips */
.fsi-skin-silver .fsi-ui-tool-tip {
	color:#000;
	background-color:#eeeeee;
	background: linear-gradient(to top, #EEEEEE 0%,#FFFFFF 50%,#EEEEEE 100%); 
	border-radius:3px;
	border:1px solid #CCC;
	box-shadow: 4px 4px 2px rgba(0,0,0,0.5);
}


.fsi-skin-silver .fsi-ui-tool-tip-arrow {
	border-top-color: #000;
}


/* navigation window */
.fsi-skin-silver .fsi-ui-nav-window {
	
	background-color: #EEE;
	border-bottom: 1px solid #CCC;
	margin-bottom:0;
	line-height:0.9em;
}

.fsi-skin-silver .fsi-ui-nav-frame {
	border-color: red;
	background-color: rgba(255,255,255,0.35);
}

.fsi-skin-silver .fsi-ui-nav-window-zoom-text{
	color:#333;
}

/* HotSpots */
.fsi-skin-silver div.fsi-ui-hotspot-container svg{
	pointer-events: none!important;
}

.fsi-skin-silver div.fsi-ui-hotspot {
	color:#000;
	font-size:0.6em;
	padding:0.3em;
	border:1px solid #999;
	border-radius: 2px;
	background-color: rgba(222, 222, 222, 0.85);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.fsi-skin-silver div.fsi-ui-hotspot-hover {
	background-color: rgba(240, 240, 240, 1.0);
}

.fsi-skin-silver div.fsi-ui-hotspot-active {
	background-color: rgba(240, 240, 240, 1.0);
}

/* FSI Pages */
.fsi-pages-root.fsi-skin-silver .fsi-ui-button.PageInput{
	background-color: #EEE;
	color: #333;
}

.fsi-pages-root.fsi-skin-silver .fsi-ui-button.PageInput.fsi-input-focussed{
	background-color: #FFF;
	color: #333;
}