
@font-face {
	font-family: 'FSI Viewer Web Interface Icons';
	/*noinspection CssUnknownTarget*/
	src:
		url('[fsi-skin-path]resources/_fonts/FSI Viewer Interface Glyph.woff2') format('woff2'),
		url('[fsi-skin-path]resources/_fonts/FSI Viewer Interface Glyph.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.fsi-skin-webinterface .fsi-ui-info:before {
	content:'{"baseSize":11}';
}

.fsi-skin-webinterface .fsi-ui-menu-bar {
	/*noinspection CssUnknownTarget*/
	background-image: url('[fsi-skin-path]resources/images/webinterface_back.png');
	background-position: left top;
	background-repeat: repeat-x;
	background-color: #333;
}

.fsi-skin-webinterface .fsi-ui-logo-image{
	background-image:none;
}

.fsi-skin-webinterface .fsi-ui-button  {
	margin-top:2px;
	margin-left: 0.1em;
	margin-right: 0.1em;
	width:1em;
	height:1em;
	border:1px solid #222;
}

.fsi-skin-webinterface .fsi-ui-button.fsi-ui-button-hover  {
	border-color:#3399ff;
}

.fsi-skin-webinterface .fsi-ui-button.fsi-ui-button-active  {
	background: #3399ff;
	border-color:#3399ff;
}


.fsi-skin-webinterface .fsi-ui-button .fsi-ui-button-icon {
	font-family: "FSI Viewer Web Interface Icons"!important;
	color: #aaa;
}

.fsi-skin-webinterface .fsi-ui-button.fsi-ui-button-hover .fsi-ui-button-icon,
.fsi-skin-webinterface .fsi-ui-button.fsi-ui-button-active .fsi-ui-button-icon{
	color: white;
}

.fsi-skin-webinterface .fsi-ui-button.fsi-ui-button-disabled .fsi-ui-button-icon {
	color: #888;
}

.fsi-skin-webinterface .fsi-ui-button.fsi-ui-button-hover .fsi-ui-button-icon {
}

.fsi-skin-webinterface .fsi-ui-button.fsi-ui-button-active .fsi-ui-button-icon {
}

.fsi-skin-webinterface .fsi-ui-menu-bar-disabled .fsi-ui-button-icon{
	color: #888;	
}

/* select frame */
.fsi-skin-webinterface .fsi-ui-select-frame{
	border-color:#3399ff;
	background-color: rgba(255, 255, 255, 0.25);
}

/* progress bar */
.fsi-skin-webinterface .fsi-ui-progressbar{
	color:#333;
	background-color:rgba(255,255,255,0.5);
	border-color:#333;
}

.fsi-skin-webinterface .fsi-ui-progressbar-text{
	color:#FFF;
}


/* tool tips */
.fsi-skin-webinterface .fsi-ui-tool-tip {
	color:#333;
	font-size:0.7em;
	margin:0!important;
	padding:0.3em;
	background-color:#EEE;
	border:1px solid #999;
	box-shadow: 4px 4px 2px rgba(0,0,0,0.5);
}

.fsi-skin-webinterface .fsi-ui-tool-tip-arrow {
	border-top-color:#999;
}

/* navigation window */
.fsi-skin-webinterface .fsi-ui-nav-window {
	background: #333;
	margin-bottom:0;
	line-height:0.9em;
}

.fsi-skin-webinterface .fsi-ui-nav-frame {
	border-color: #3399ff;
	background-color: rgba(88,168,255,0.25);
}

.fsi-skin-webinterface .fsi-ui-nav-window-zoom-text{
	height:1.5em;
	color:#ccc;
	font-size:0.75em;
	line-height:1.5em;
}

/* HotSpots */

.fsi-skin-webinterface div.fsi-ui-hotspot {
	position:absolute;
	white-space:nowrap;
	color:#fff;
	font-size:0.75em;
	padding:0.3em;
	border:1px solid rgba(255,255,255, 1.0);
	border-radius: 2px;
	background-color: rgba(88, 168, 255, 0.85);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	cursor:pointer;
	text-align:center;

	-moz-transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.fsi-skin-webinterface .fsi-ui-hotspot-line{
	-moz-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;	
}

.fsi-skin-webinterface div.fsi-ui-hotspot-hover {
	border-width:2px;
	background-color: rgba(88, 168, 255, 1.0);
}

.fsi-skin-webinterface div.fsi-ui-hotspot-active {
	background-color: rgba(88, 168, 255, 1.0);
}

.fsi-skin-webinterface .fsi-ui-hotspot-mobile {
}

.fsi-skin-webinterface .fsi-ui-hotspot-mobile-small {
}


/* dialogs */
.fsi-skin-webinterface .fsi-dialog{
	border:0 none;
	background-color:#333;color:#999;
}

.fsi-skin-webinterface .fsi-dialog input[type="button"]{
	font-size: 14px;
	color: #999;
	border:1px solid #999;
	background-color: transparent;
}

.fsi-skin-webinterface .fsi-dialog input[type="button"]:hover{
	color: white;
	border-color:#3399ff;
	background-color: #3399ff;
}
	

/* FSI Pages */
.fsi-pages-root.fsi-skin-webinterface .fsi-ui-button.PageInput{
	width:5.2em;
}

.fsi-pages-root.fsi-skin-webinterface .fsi-ui-button.PageInput{
	border:1px solid #666;
	background-color: #333;
}

.fsi-pages-root.fsi-skin-webinterface .fsi-ui-button.PageInput input{
	color: #999;
}

.fsi-pages-root.fsi-skin-webinterface .fsi-ui-button.PageInput.fsi-input-focussed{
	background-color:white;
	border-color:#3399ff;
}

.fsi-pages-root.fsi-skin-webinterface .fsi-ui-button.PageInput.fsi-input-focussed input{
	color: black;
}
