/* Menu Bar */

.fsi-skin-white .fsi-ui-button  {
	border-radius: 4px;
}

.fsi-skin-white .fsi-ui-button-hover  {
	background-color:#FFF;
	border:1px solid #DDD;
}

.fsi-skin-white .fsi-ui-button-active  {
	background-color:#EEE;
	border:1px solid #000;
	border-left-color:#999;
	border-top-color:#999;
	border-right-color:#DDD;
	border-bottom-color:#DDD;
}

.fsi-skin-white .fsi-ui-tool-tip {
	color:#000;
	font-size:.5em;
	margin:0!important;
	padding:0.3em;
	background-color:#FFF;
	border-radius:3px;
	border:1px solid #CCC;
	box-shadow: 4px 4px 2px rgba(0,0,0,0.5);
}


/* FSI Pages */
.fsi-skin-white .fsi-ui-button.PageInput{
	background-color: white;
	border:1px solid #CCC;
	color: #333;
}

.fsi-skin-white .fsi-ui-button.PageInput input:focus{
	border-color:#999;
	color: #000;
}
