﻿<content>
<!-- EDIT THE CONTENT BELOW -->

<style type="text/css">
<!--
#imprint .x-html, #imprint .x-html *{
	font-size: small;
	color:#ff0000;
	vertical-align:top;
}
-->
</style>


<h1 style="font-size:large"><b>Imprint Sample</b></h1><hr/>
This is just a <b>sample</b> imprint.<br/><br/>
Please edit the file<br/>
<b>fsi/viewer/config/pages_xml/_sample_imprint.hml</b><br/><br/>
<b>- or -</b><br/><br/>
create and define a custom file using the <b>datafile</b> parameter of the "imprint" plug-in.
<!-- EDIT THE CONTENT ABOVE -->
</content>