html{
	width:100%;
	height:100%;
	overflow:hidden;
}

body {
	width:100%;
	height:100%;
	overflow:hidden;

	color:#CCC;
	font-weight:lighter;
	background-color: #333;
	padding: 0;
	margin:0;
	font-family: 'Roboto Light', sans-serif;
	font-size: 14px;
}

#mainContentOuter{
	-webkit-overflow-scrolling: touch;
	overflow:auto;
	width:100%;
	height:100%;

}

#mainContentInner{
	margin: 0 18px 18px 24px;
	width:100%;
	padding:0;
	max-width:1200px;
	overflow:visible;
}

div.topHelpContent>table>tbody>tr>td {
	height: 100%;
}

h2 {
	font-size: 24px;
	font-weight:lighter;
}

h1 {
	font-size: 28px;
	font-weight:lighter;
}


ul.index{
	list-style-type:none;
	padding:8px;
	margin:0;
	font-weight:lighter;
	display:inline-block;
}

ul.index ul{
	list-style-type:none;
	padding-left:10px;
	margin-left:10px;
	font-weight:lighter;
}

table.thc {
	border-collapse: separate;
	border-spacing: 0 0;
	height:100%;
}

.thcLeft {
	border: 1px solid #222;
	width: 240px;
	padding-left: 20px;
	padding-right: 20px;
	height:100%;
}

.thcGap {
	border: 0;
	width:20px;
	height:100%;
}

.thcRight {
	border: 1px solid #222;
	height:100%;
}

.numberBase {
	font-weight:lighter;
	margin-right: 10px;
}


a:link { color:#CCC; text-decoration:none;}
a:visited { color:#CCC; text-decoration:none; }
a:focus { color:#fff; text-decoration:underline; }
a:hover { color:#fff; text-decoration:underline; }
a:active { color:#fff; text-decoration:underline; }
a:link:before { color:#39f; text-decoration:none; content: '\25ba';padding-right: 2px;}
li a:link:before {
	content:none;
	padding-right: unset;
}

/* webkit scrollbar styles */

::-webkit-scrollbar,
.ui-dialog .darkscoll::-webkit-scrollbar{
	width: 12px;  /* for vertical scrollbars */
	height: 12px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track,
.ui-dialog .darkscoll::-webkit-scrollbar-track{
	background: #222;
	border-left: 1px solid #111;
}
::-webkit-scrollbar-thumb,
.ui-dialog .darkscoll::-webkit-scrollbar-thumb{
	border-left: 1px solid #111;
	background: #333;
}


*{
	/* MSIE scrollbar styles */
	scrollbar-base-color: #222;
	scrollbar-3dlight-color: #333;
	scrollbar-highlight-color: #333;
	scrollbar-track-color: #222;
	scrollbar-arrow-color: #CCC;
	scrollbar-face-color: #333;
	scrollbar-shadow-color: #333;
	scrollbar-dark-shadow-color: #333;
}


#helpVersionContent{
	white-space:nowrap;
}

#helpVersionContent table tr td:first-of-type{
	padding-right:12px;
}

div.backToTop{
	cursor:pointer;
	width:22px;
	height:28px;
	display:none;
	position:fixed;
	left:0;
	top:0;
	padding:0;
	margin:0;
	background-image:url(../../images/scroll_top_top.gif);
	background-repeat:no-repeat;
	z-index:10000;
}

a.helpTargetAnchor{
	overflow:hidden;
	height:1px;
	line-height:1px;
	font-size:1px;
	visibility:hidden;
}
